<div class="ds-grid ds-row ds-box">
    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-sr-only (screenreader only, inspect code)</h4>
            <p>Bacon Stripes <span class="ds-sr-only">yumyum so delicious!</span></p>
        </div>
    </div>

    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="content-box-wrapper ds-col-12">
        <h3>Icon-Only-Button</h3>
        <small>Optisch identisch, technisch jedoch sehr unterschiedlich durch lediglich eine Zeile HTML</small>
    </div>

    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4><img src="./app/images/yes.svg"> Do</h4>
            <button class="ds-btn ds-btn-secondary ds-btn-icon">
                <span class="ds-sr-only">Mehr</span>
                <i class="material-icons">more_horiz</i>
            </button>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4><img src="./app/images/no.svg"> Don't</h4>
            <button class="ds-btn ds-btn-secondary ds-btn-icon">
                <i class="material-icons">more_horiz</i>
            </button>
        </div>
    </div>
</div>
