<div class="ndpl-container-main">


  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      
      <h4>Hauptsammlung</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Hauptsammlung">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://api.chefkoch.de/v2/images/crop-384x216/recipes/3132471466581023/images/922391/fit-960x720 2x,
              https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720 1x" 
              src="https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-teaser-link__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Hauptsammlung</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">122 Rezepte</span>
                </div>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
                <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Das ist deine Hauptsammlung.&rdquo;</p>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action"></div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">

      <h4>leere Sammlung</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Hauptsammlung">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://img.chefkoch-cdn.de/images/crop-384x216/kochbuch/frontend/assets/img/collection_default.png 2x,
              https://img.chefkoch-cdn.de/images/crop-192x108/kochbuch/frontend/assets/img/collection_default.png 1x" 
              src="https://img.chefkoch-cdn.de/images/crop-192x108/kochbuch/frontend/assets/img/collection_default.png"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-teaser-link__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Leere Sammlung</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">0 Rezepte</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">

      <h4>mit Bild</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Sammlung">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://api.chefkoch.de/v2/images/crop-384x216/recipes/3132471466581023/images/922391/fit-960x720 2x,
              https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720 1x" 
              src="https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-teaser-link__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Sammlung mit Bild</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">122 Rezepte</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">

      <h4>öffentlich</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Sammlung öffentlich">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://api.chefkoch.de/v2/images/crop-384x216/recipes/3132471466581023/images/922391/fit-960x720 2x,
              https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720 1x" 
              src="https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-teaser-link__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Eine öffentliche Sammlung</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">122 Rezepte</span>
                  <div class="ds-list-view-item__visibility">
                    <i class="chefkoch-icons ds-list-view-item__visibility-icon">visibility_on</i>
                    <span class="ds-list-view-item__visibility-text ds-from-s">Öffentliche Sammlung</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">

      <h4>mit langer Beschreibung</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Sammlung">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://api.chefkoch.de/v2/images/crop-384x216/recipes/3132471466581023/images/922391/fit-960x720 2x,
              https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720 1x" 
              src="https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-teaser-link__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Sammlung mit Beschreibung</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">122 Rezepte</span>
                </div>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
                <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Das ist eine Sammlung mit einem mehrzeiligen Text, der die Sammlung beschreibt. Diese ganz lange Beschreibung enthält ganz viel Informationen rund um die darin enthaltenen Rezepte. Es ist eine wirklich sehr lange Beschreibung.&rdquo;</p>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">

      <h4>mit langer Beschreibung ausgeklappt</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Sammlung">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://api.chefkoch.de/v2/images/crop-384x216/recipes/3132471466581023/images/922391/fit-960x720 2x,
              https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720 1x" 
              src="https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-teaser-link__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Sammlung mit Beschreibung</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">122 Rezepte</span>
                </div>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_collapse</i>
                <p class="ds-text-toggle__text ds-text-caption">&bdquo;Das ist eine Sammlung mit einem mehrzeiligen Text, der die Sammlung beschreibt. Diese ganz lange Beschreibung enthält ganz viel Informationen rund um die darin enthaltenen Rezepte. Es ist eine wirklich sehr lange Beschreibung.&rdquo;</p>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">

      <h4>mit optionalem Background Hover Effekt</h4>
      <!-- .ds-list-view-item--collection -->
      <div class="ds-list-view-item ds-list-view-item--hover-bg-from-m ds-list-view-item--collection">
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Sammlung">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
            <img class="ds-list-view-item__image"
              width="192" height="108"
              loading="lazy"
              srcset="https://api.chefkoch.de/v2/images/crop-384x216/recipes/3132471466581023/images/922391/fit-960x720 2x,
              https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720 1x" 
              src="https://api.chefkoch.de/v2/images/crop-192x108/recipes/3132471466581023/images/922391/fit-960x720"
              >
            </div>
          </div>
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-h4 ds-trunc ds-trunc-1 ds-text-sans">Sammlung mit Beschreibung</h4>
              <div class="ds-text-caption">
                <div class="ds-list-view-item__collection-info">
                  <span class="ds-list-view-item__recipe-count">122 Rezepte</span>
                </div>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
                <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Das ist eine Sammlung mit einem mehrzeiligen Text, der die Sammlung beschreibt. Diese ganz lange Beschreibung enthält ganz viel Informationen rund um die darin enthaltenen Rezepte. Es ist eine wirklich sehr lange Beschreibung.&rdquo;</p>
              </div>
            </div>
          </div>
        </a>
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.ds-list-view-item--collection -->
  
    </div>
  </div>

</div>