<div class="ds-grid ds-row ds-mb-6">
    <div class="ds-col-12">
      <h3>Text</h3>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-corporate-green">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-corporate-green-dark">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-corporate-green-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-corporate-green-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-corporate-green-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-watermelon">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-watermelon-dark">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-watermelon-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-watermelon-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-watermelon-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-olive">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-olive-dark">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-olive-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-olive-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-olive-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chia">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chia-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chia-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chia-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-pepper">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-pepper-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-pepper-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-pepper-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-mirabelle">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-mirabelle-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-mirabelle-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-mirabelle-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chili">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chili-dark">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chili-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chili-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-chili-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-garlic">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-garlic-medium">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-garlic-light">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-garlic-xlight">Pizza</span>
    </div>
    <div class="ds-col-12">
      <span class="ds-text-garlic-xlight">Pizza</span>
    </div>
  </div>
</div>
<div class="ds-grid ds-row"> 
  <div class="ds-col-12">
    <h3>Hintergrund</h3>
  </div>
  <div class="ds-col-m-12">
    <div class="ds-row ds-mb-2">
      <div class="ds-col-12 ds-col-s-2">
        <div class="ds-pv-4 ds-bg-corporate-green"></div>
      </div>
    </div>
    <div class="ds-row ds-mb-2">
      <div class="ds-col-12 ds-col-s-2">
        <div class="ds-pv-4 ds-bg-corporate-green-dark"></div>
      </div>
    </div>

    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-corporate-green"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-corporate-green-dark"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-corporate-green-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-corporate-green-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-corporate-green-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-watermelon"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-watermelon-dark"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-watermelon-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-watermelon-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-watermelon-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-olive"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-olive-dark"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-olive-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-olive-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-olive-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chia"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chia-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chia-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chia-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-pepper"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-pepper-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-pepper-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-pepper-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-mirabelle"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-mirabelle-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-mirabelle-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-mirabelle-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chili"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chili-dark"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chili-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chili-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-chili-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-garlic"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-garlic-medium"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-garlic-light"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-garlic-xlight"></div>
    </div>
    </div>
    <div class="ds-row ds-mb-2">
    <div class="ds-col-12 ds-col-s-2">
      <div class="ds-pv-4 ds-bg-garlic-xlight"></div>
    </div>
    </div>

  </div>
</div>
