@import "../spacings/spacings";

@each $size in $v-spacer-sizes {
    @each $bp in $grid-breakpoints {
        @if $bp != "xxxs" {
            @include media-breakpoint-from($bp) {
                .ds-mb-#{$bp}-#{$size} {
                    margin-bottom: map-get($v-spacings, $size) !important;
                }

                .ds-mt-#{$bp}-#{$size} {
                    margin-top: map-get($v-spacings, $size) !important;
                }

                .ds-mv-#{$bp}-#{$size} {
                    margin-bottom: map-get($v-spacings, $size) !important;
                    margin-top: map-get($v-spacings, $size) !important;
                }

                .ds-pt-#{$bp}-#{$size} {
                    padding-bottom: map-get($v-spacings, $size) !important;
                }

                .ds-pb-#{$bp}-#{$size} {
                    padding-top: map-get($v-spacings, $size) !important;
                }

                .ds-pv-#{$bp}-#{$size} {
                    padding-bottom: map-get($v-spacings, $size) !important;
                    padding-top: map-get($v-spacings, $size) !important;
                }
            }
        }

        @else {
            .ds-mb-#{$size} {
                margin-bottom: map-get($v-spacings, $size) !important;
            }

            .ds-mt-#{$size} {
                margin-top: map-get($v-spacings, $size) !important;
            }

            .ds-mv-#{$size} {
                margin-bottom: map-get($v-spacings, $size) !important;
                margin-top: map-get($v-spacings, $size) !important;
            }

            .ds-pt-#{$size} {
                padding-bottom: map-get($v-spacings, $size) !important;
            }

            .ds-pb-#{$size} {
                padding-top: map-get($v-spacings, $size) !important;
            }

            .ds-pv-#{$size} {
                padding-bottom: map-get($v-spacings, $size) !important;
                padding-top: map-get($v-spacings, $size) !important;
            }
        }
    }
}
