@import "../spacings/spacings";

@each $m in $v-spacer-multipliers {
    @debug $m;
    @each $bp, $val in $grid-breakpoints {
        @debug $bp;
        @if $bp != "xxxs" {
            @include media-breakpoint-from($bp) {
                .ds-mb-#{$bp}-#{$m} {
                    margin-bottom: map-get($v-spacings, $m) !important;
                }

                .ds-mt-#{$bp}-#{$m} {
                    margin-top: map-get($v-spacings, $m) !important;
                }

                .ds-mv-#{$bp}-#{m} {
                    margin-bottom: map-get($v-spacings, $m) !important;
                    margin-top: map-get($v-spacings, $m) !important;
                }

                .ds-pt-#{$bp}-#{$m} {
                    padding-bottom: map-get($v-spacings, $m) !important;
                }

                .ds-pb-#{$bp}-#{$m} {
                    padding-top: map-get($v-spacings, $m) !important;
                }

                .ds-pv-#{$bp}-#{$m} {
                    padding-bottom: map-get($v-spacings, $m) !important;
                    padding-top: map-get($v-spacings, $m) !important;
                }
            }
        }

        @else {
            .ds-mb-#{$m} {
                margin-bottom: map-get($v-spacings, $m) !important;
            }

            .ds-mt-#{$m} {
                margin-top: map-get($v-spacings, $m) !important;
            }

            .ds-mv-#{m} {
                margin-bottom: map-get($v-spacings, $m) !important;
                margin-top: map-get($v-spacings, $m) !important;
            }

            .ds-pt-#{$m} {
                padding-bottom: map-get($v-spacings, $m) !important;
            }

            .ds-pb-#{$m} {
                padding-top: map-get($v-spacings, $m) !important;
            }

            .ds-pv-#{$m} {
                padding-bottom: map-get($v-spacings, $m) !important;
                padding-top: map-get($v-spacings, $m) !important;
            }
        }
    }
}
