/* NOTE:
** It is not recommended to name the color variable after a specific usage.
** Like $color-text--corporate-green: doesn't fit, because it's not only used for text.
** Just name it $color-corporate-green instead so that you know what it does but the usage is not implicated.
*/

/* primary green broccoli
----------------------------------- */

$color-corporate-green:         #3B8047; //broccoli
$color-corporate-green-dark:    #37713F; // broccoli + 15 olive
$color-corporate-green-medium:  #6CA075; // broccoli 75%
$color-corporate-green-light:   #A7C6AC; // broccoli 45%
$color-corporate-green-xlight:  #E2ECE3; // broccoli 15%

/* watermelon red
----------------------------------- */

$color-watermelon:              #FF6067; //watermelon
$color-watermelon-dark:         #DE565B; // watermelon + 15 olive
$color-watermelon-medium:       #FF8B90; // watermelon 75%
$color-watermelon-light:        #FFB7BA; // watermelon 45%
$color-watermelon-xlight:       #FFE7E8; // watermelon 15%

/* olive black
----------------------------------- */

$color-olive:                   #212018; //olive
$color-olive-medium:            #595852; // olive 75%
$color-olive-light:             #9B9A97; // olive 45%
$color-olive-xlight:            #DEDEDD; // olive 15%

/* chia grey
----------------------------------- */

$color-chia:                    #666660; //chia
$color-chia-medium:             #8C8C85; // chia 75%
$color-chia-light:              #BABAB7; // chia 45%
$color-chia-xlight:             #E8E8E7; // chia 15%

/* pepper grey
----------------------------------- */

$color-pepper:                  #A7A7A2; //pepper
$color-pepper-medium:           #BDBDB9; // pepper 75%
$color-pepper-light:            #D7D7D5; // pepper 45%
$color-pepper-xlight:           #F2F2F1; // pepper 15%

/* mirabelle yellow
----------------------------------- */

$color-mirabelle:               #FFCD12; //mirabelle
$color-mirabelle-dark:          #DEB312; // mirabelle dark
$color-mirabelle-medium:        #FFDA4D; // mirabelle 75%
$color-mirabelle-light:         #FFE894; // mirabelle 45%
$color-mirabelle-xlight:        #FFF8DC; // mirabelle 15%

/* chili red
----------------------------------- */

$color-chili:                  #A70000; //chili
$color-chili-dark:             #930403; // chili
$color-chili-medium:           #BD4040; // chili 75%
$color-chili-light:            #D78C8C; // chili 45%
$color-chili-xlight:           #F2D9D9; // chili 15%

/* sand
----------------------------------- */

$color-sand:                   #F3F4F0; //sand
$color-sand-medium:            #F6F7F4; // sand 75%
$color-sand-light:             #FAFAF8; // sand 45%
$color-sand-xlight:            #FDFDFD; // sand 15%

/* monochrome colours
----------------------------------- */

$color-grey-light:           $color-pepper; // for borders
$color-white:                #fff; // basmati

/* other colours (DEPRECATED)
----------------------------------- */

$color-purple:              #bf538d;
$color-blue:                #007c8c; // 4.92 Ratio (AA) to #fff
$color-blue-dark:           #006a78;

/* specified usages
----------------------------------- */

$color-text:            $color-olive;
$color-text-inverted:   $color-white;
$color-border:          $color-pepper;
$color-bg:              $color-white;
$color-bg-content:      $color-white;

$color-shadow-base:     $color-olive;

/* BACKUP
** old color vars (using new ones)
----------------------------------- */

$color-text--corporate-green:   $color-corporate-green-dark;

$color-text--black:             $color-olive;
$color-text--grey:              $color-chia;
$color-icon--grey:              $color-pepper;
$color-border--grey:            $color-pepper;
$color-background--sand:        $color-sand;

$color-action--purple:          $color-purple;
$color-info--blue:              $color-blue;
$color-info--yellow:            $color-mirabelle;
$color-info--red:               $color-watermelon;
