<div class="ds-grid ds-row ds-box">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h3>Steps für Buttons</h3>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="content-box" style="box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); background: #618F30; color: #fff; text-align: center;">
            default<br/>
            <br/>
            <small>box-shadow:<br/>0px 1px 6px rgba(0, 0, 0, 0.3)</small>
        </div>
        <br/>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="content-box" style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); background: #537A29; color: #fff; text-align: center;">
            hover/focus<br/>
            <br/>
            <small>box-shadow:<br/>0px 0px 8px rgba(0, 0, 0, 0.5)</small>
        </div>
        <br/>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="content-box" style="box-shadow: none; background: #537A29; color: #fff; text-align: center;">
            active/click<br/>
            <br/>
            <small>box-shadow:<br/>none</small>
        </div>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-btn ds-btn-primary">
            actual button
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-btn ds-btn-primary" style="background: transparent !important; color: #222;">
            button blueprint
        </button>
    </div>
</div>
