<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Responsives Hybrid Layout Bsp. RSEL</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-4">
        <div class="ds-grid">
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this">&lt;Header&gt;
            </div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this-1">
                &lt;Main&gt; Visueller Content Bereich
                <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this-2">
                    Visueller Modul Bereich
                </div>
                <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this-3">&lt;Aside&gt;</div>
                <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this-3">&lt;Aside&gt;</div>
            </div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this">&lt;Footer&gt;</div>
        </div>

    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">

        <div class="ds-grid">
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this">&lt;Header&gt;
            </div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this-1">
                <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12" style="padding:0;">
                    &lt;Main&gt; Visueller Content Bereich
                </div>

                <div class="ds-col-xs-12 ds-col-s-7 ds-col-m-7 dsy-helper-ignore-this-2">
                    Visueller Modul Bereich
                </div>
                <div
                        class="ds-col-xs-12 ds-col-s-off-8 ds-col-s-4 ds-col-m-off-8 ds-col-m-4 dsy-helper-ignore-this-3">
                    &lt;Aside&gt;
                </div>
                <div
                        class="ds-col-xs-12 ds-col-s-off-8 ds-col-s-4 ds-col-m-off-8 ds-col-m-4 dsy-helper-ignore-this-3">
                    &lt;Aside&gt;
                </div>
            </div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this">&lt;Footer&gt;</div>
        </div>

    </div>
</div>
