/*
  The aspect ratio for recipe is 4x3
  The width changes depending on the viewport and can have the sizes:

  60px x 45px
  84px x 63px
  108px x 81px
  144px x 108px
*/
$list-view-item-recipe-image-width-xxxs: 60px;
$list-view-item-recipe-image-width-xs: 84px;
$list-view-item-recipe-image-width-s: 108px;
$list-view-item-recipe-image-width-m: 144px;
$list-view-item-recipe-image-apsect-ratio: 4/3;
