@import "settings.list-view-item";

.ds-list-view-item--recipe {
    .ds-list-view-item__media {
        flex: 0 0 $list-view-item-recipe-image-width-xxxs;

        @include media-breakpoint-from(xs) {
            flex-basis: $list-view-item-recipe-image-width-xs;
        }

        @include media-breakpoint-from(s) {
            flex-basis: $list-view-item-recipe-image-width-s;
        }

        @include media-breakpoint-from(m) {
            flex-basis: $list-view-item-recipe-image-width-m;
        }
    }

    .ds-list-view-item__image-wrap {
        padding-bottom: percentage(1/$list-view-item-recipe-image-apsect-ratio);
    }

    .ds-list-view-item__headline {
        line-height: 22px;
        margin-bottom: 6px;
    }

    .ds-list-view-item__action {
        max-height: $list-view-item-recipe-image-width-xxxs * 1 / $list-view-item-recipe-image-apsect-ratio;

        @include media-breakpoint-from(xs) {
            max-height: $list-view-item-recipe-image-width-xs * 1 / $list-view-item-recipe-image-apsect-ratio;
        }

        @include media-breakpoint-from(s) {
            max-height: $list-view-item-recipe-image-width-s * 1 / $list-view-item-recipe-image-apsect-ratio;
        }

        @include media-breakpoint-from(m) {
            max-height: $list-view-item-recipe-image-width-m * 1 / $list-view-item-recipe-image-apsect-ratio;
        }
    }

    .ds-list-view-item__column--info {
        @include media-breakpoint-from(m) {
            max-height: $list-view-item-recipe-image-width-m * 1 / $list-view-item-recipe-image-apsect-ratio;
        }
    }
}
