@import "../colors/colors";

/* rating stars
----------------------------------- */

@mixin small-stars {
    font-size: 20px;
    width: 18px;
}

.ds-rating {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $unit * 1.5;

    @include media-breakpoint-from(s) {
        margin-bottom: $unit * 2;
    }
}

.ds-rating-stars {
    display: flex;
    margin-left: -2px; // for visual alignment on the left

    i {
        color: $color-mirabelle;
        font-size: 24px;
        width: 22px;
    }

    &.ds-no-rating {
        i {
            color: $color-pepper;
        }
    }
}

.ds-rating-avg,
.ds-rating-count {
    color: $color-olive;
    font-size: $fontsize-small;
    font-weight: 400;
    line-height: $lineheight-base;
    margin-left: $unit;
}

.ds-rating-small {
    .ds-rating-stars {
        i {
            @include small-stars;
        }
    }

    .ds-rating-avg,
    .ds-rating-count {
        line-height: $lineheight-small;
    }
}
