@import "../colors/colors";

/* rating stars
----------------------------------- */

@mixin small-stars {
    font-size: 20px;
    width: 18px;
}

.ds-rating {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $unit * 1.5;

    @include media-breakpoint-from(s) {
        margin-bottom: $unit * 2;
    }
}

.ds-rating-stars {
    display: flex;
    margin-left: -2px; // for visual alignment on the left

    i {
        color: $color-yellow;
        font-size: 28px;
        width: 26px;

        aside & {
            @include small-stars;
        }
    }

    &.ds-no-rating {
        i {
            color: $color-grey-medium;
        }
    }
}

.ds-rating-avg,
.ds-rating-count {
    color: $color-black;
    font-size: $fontsize-small;
    font-weight: 400;
    line-height: 28px;
    margin-left: $unit;
}
