<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-4">

        <h4>Statisch Klassisches Spalten Layout</h4>

        <div class="ds-grid">
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this">&lt;Header&gt;</div>
            <div class="ds-col-xs-7 ds-col-s-7 ds-col-m-7 dsy-helper-ignore-this">&lt;Main&gt;
                <div class="dsy-helper-ignore-this-3">Section / Article</div>
                <div class="dsy-helper-ignore-this-3">Section / Article</div>
                <div class="dsy-helper-ignore-this-3">Section / Article</div>
            </div>
            <div class="ds-col-xs-4 ds-col-s-4 ds-col-m-4 dsy-helper-ignore-this">&lt;Aside&gt;
                <div class="dsy-helper-ignore-this-3">Article</div>
                <div class="dsy-helper-ignore-this-3">Article</div>
            </div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12 dsy-helper-ignore-this">&lt;Footer&gt;</div>
        </div>

    </div>
</div>
