<h3>Aligned with .ds-btn-box container</h3>

<div class="ds-btn-box ds-box">
    <button class="ds-btn ds-btn-primary">
        <span>Button 1</span>
    </button>
    <button class="ds-btn ds-btn-secondary">
        <span>Button 2</span>
    </button>

    <hr class="ds-hr" />
</div>

<h3><img src="./app/images/no.svg"> Don't</h3>
<small>2 Buttons ohne .ds-btn-box als parent</small>
<br/>

<div class="ds-text-right">
    <button class="ds-btn ds-btn-primary">
        <span>Button 1</span>
    </button>
    <button class="ds-btn ds-btn-secondary">
        <span>Button 2</span>
    </button>
</div>
