<div class="ds-grid ds-row">
    <div class="ds-box ds-col-12 ds-col-s-6">
        <h3>Kachel Ansicht aktiv</h3>
        <button class="ds-btn ds-btn--view-toggle">
            <i class="chefkoch-icons ds-btn__icon ds-btn__icon--left ds-btn__icon--active">tileview</i>
            <i class="chefkoch-icons ds-btn__icon ds-btn__icon--right">listview</i>
        </button>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6">
        <h3>Listen Ansicht aktiv</h3>
        <button class="ds-btn ds-btn--view-toggle">
            <i class="chefkoch-icons ds-btn__icon ds-btn__icon--left">tileview</i>
            <i class="chefkoch-icons ds-btn__icon ds-btn__icon--right ds-btn__icon--active">listview</i>
        </button>
    </div>
</div>