<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>View Toggle | .ds-btn-view-toggle</h4>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6">
        <h3>Kachel Ansicht aktiv</h3>
        <button class="ds-btn ds-btn-view-toggle">
            <i class="material-icons ds-btn-view-toggle--icon ds-btn-view-toggle--icon-left ds-btn-view-toggle--active">view_module</i>
            <i class="material-icons ds-btn-view-toggle--icon ds-btn-view-toggle--icon-right ds-btn-view-toggle--inactive">list</i>
        </button>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6">
        <h3>Listen Ansicht aktiv</h3>
        <button class="ds-btn ds-btn-view-toggle">
            <i class="material-icons ds-btn-view-toggle--icon ds-btn-view-toggle--icon-left ds-btn-view-toggle--inactive">view_module</i>
            <i class="material-icons ds-btn-view-toggle--icon ds-btn-view-toggle--icon-right ds-btn-view-toggle--active">list</i>
        </button>
    </div>
</div>