<div class="ds-grid ds-row">
    <div class="ds-col-12">

        <form class="ds-grid ds-row">
            <fieldset class="ds-col-12 ds-col-s-6">
                <legend>Input Feld leer</legend>
                <input type="text" placeholder="Placeholder" class="ds-input">
            </fieldset>

            <fieldset class="ds-col-12 ds-col-s-6">
                <legend>Ausgefüllt</legend>
                <input type="text" value="Bacon Stripes" class="ds-input">
            </fieldset>
        </form>

    </div>
</div>
