<div class="ndpl-container-main">
  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-6 ds-col-s-4 ds-col-m-3">

      <!-- Text Toggle start -->
      <div class="ds-text-toggle">
        <i class="ds-text-toggle__icon chefkoch-icons">list_collapse</i>
        <p class="ds-text-toggle__text ds-text-caption">&bdquo;Tunesiches und israelisches
          Gericht aus Tomaten, Paprika, Zwiebeln und Eiern. Es ist äußerst lecker und im Handumdrehen zubereitet.&rdquo;</p>
      </div>
      <!-- Text Toggle end -->

    </div>
  </div>  
</div>
