// variables for regular btns
$btn-min-height: 44px !default;
$btn-min-width: 44px !default;
$btn-font-size: $fontsize-base !default;
$btn-font-weight: $fontweight-semi-bold !default;
$btn-border-radius: $unit * 3 !default;
$btn-horizontal-padding: $unit * 2 !default;
