@import "../shadows/box-shadow";

$btn-base-value: $unit * 5;

.ds-btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ds-btn + .ds-btn {
    margin-left: $unit;
}

@mixin btn-reset {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    // normalize inner #fffspace in Firefox
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: none;
    }
}

@mixin btn-base {
    border-radius: $unit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $fontsize-small;
    font-weight: bold;
    min-height: $btn-base-value;
    letter-spacing: 0.5px;
    line-height: $btn-base-value;
    min-width: $btn-base-value;
    padding: 0 $unit * 2;
}

@mixin ds-btn-shadow {
    @include ds-box-shadow(0.3, 0.5);
}

.ds-btn {
    @include btn-reset;
    @include btn-base;
}
