$btn-base-value: $unit * 5;

.ds-btn-box {
    display: flex;
    flex-wrap: wrap;
}

.ds-btn + .ds-btn {
    margin-left: $unit * 2;
}

@mixin btn-reset {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;

    // normalize inner #fffspace in Firefox
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: none;
    }
}

@mixin btn-base {
    border-radius: $unit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $fontsize-small;
    font-weight: 500; // simulate medium font
    min-height: $btn-base-value;
    letter-spacing: 0.5px;
    line-height: $btn-base-value;
    min-width: $btn-base-value;
    padding: 0 $unit * 2;
    text-transform: uppercase;
}

@mixin btn-shadow {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    }

    &:focus {
        box-shadow: none;
    }
}

.ds-btn {
    @include btn-reset;
    @include btn-base;

    transition: background 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s;
}
