@import "settings.button";

@mixin btn-reset {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    // normalize inner #fffspace in Firefox
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: none;
    }
}

@mixin btn-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

@mixin btn {
    border-radius: $btn-border-radius;
    white-space: nowrap;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    min-height: $btn-min-height;
    min-width: $btn-min-width;
    padding-left: $btn-horizontal-padding;
    padding-right: $btn-horizontal-padding;

    &__icon {
        color: inherit;
    }
}

@mixin btn-icon {
    border-radius: 50%;
    padding: 0;
    width: $unit * 5;
    height: $unit * 5;
}
