.ds-btn-icon-l {
    padding-left: $unit * 1.5;

    i {
        margin-right: $unit;
    }

    &.ds-btn-tertiary {
        padding: 0;

        i {
            margin-right: $unit / 2;
        }
    }
}

.ds-btn-icon-r {
    padding-right: $unit * 1.5;

    i {
        margin-left: $unit;
    }

    &.ds-btn-tertiary {
        padding: 0;

        i {
            margin-left: $unit / 2;
        }
    }
}

.ds-btn-icon {
    /* stylelint-disable all */
    i.material-icons {
        font-size: 20px;
    }
    /* stylelint-enable all */

    /* icon only button */

    &:not(.ds-btn-icon-l):not(.ds-btn-icon-r) {
        padding: 0 $unit * 1.5;
    }
}
