.ds-btn--conversion {
    background-color: $color-watermelon;
    color: $color-text-inverted;

    &:hover,
    &:focus {
        background-color: $color-watermelon-medium;
    }

    &:active {
        background-color: $color-watermelon-dark;
    }

    &.ds-is-disabled,
    &:disabled,
    &[disabled] {
        background-color: $color-pepper;
    }
}
