.ds-btn--dual-color {
    background-color: $color-bg-content;
    color: $color-corporate-green;
    border-color: $color-corporate-green-light;

    &:hover,
    &:focus {
        border-color: $color-corporate-green;
    }

    &:active {
        border-color: $color-corporate-green-dark;
        color: $color-corporate-green-dark;
    }

    &--disabled,
    &:disabled,
    &[disabled] {
        border-color: $color-pepper;
        color: $color-pepper;
    }

    &.ds-btn--active {
        background-color: $color-corporate-green-xlight;
    }
}
