.ds-btn-primary {
    @include btn-shadow;

    background-color: $color-corporate-green;
    color: $color-text-inverted;

    &:active,
    &:focus,
    &:hover {
        background-color: $color-corporate-green-dark;
    }
}
