.ds-btn-tertiary {
    color: $color-corporate-green-dark;
    padding: 0;

    &--mobile {
        border-radius: 64px;
        width: 64px;
        height: 64px;

        /* stylelint-disable all */
        i.material-icons {
            color: $color-corporate-green-dark;
            font-size: 30px;
        }
        /* stylelint-enable all */
    }

    &:hover,
    &:focus {
        span {
            text-decoration: underline;
        }
    }

    + .ds-btn-primary,
    + .ds-btn-tertiary {
        margin-left: $unit * 3;
    }
}
