.ds-btn--danger {
    background-color: $color-chili;
    color: $color-text-inverted;

    &:hover,
    &:focus {
        background-color: $color-chili-medium;
    }

    &:active {
        background-color: $color-chili-dark;
    }

    &.ds-is-disabled,
    &:disabled,
    &[disabled] {
        background-color: $color-pepper;
    }
}
