.ds-btn-delete {
    min-height: $btn-base-value + 4;
    background-color: $color-chili;
    color: $color-text-inverted;

    &--mobile {
        border-radius: 64px;
        width: 64px;
        height: 64px;

        /* stylelint-disable all */
        i.material-icons {
            color: $color-text-inverted;
            font-size: 30px;
        }
        /* stylelint-enable all */
    }

    &:hover {
        background-color: $color-chili-medium;
        cursor: pointer;
    }

    &:active {
        background-color: $color-chili-dark;
    }
}

