.ds-btn-inactive {
    &.ds-btn-primary {
        background-color: $color-grey-dark;
        color: $color-white;
    }

    &.ds-btn-secondary {
        border-color: $color-grey-dark;
    }

    &.ds-btn-secondary,
    &.ds-btn-tertiary,
    &.ds-btn-icon {
        color: $color-grey-dark;
    }

    &.ds-btn-primary.ds-btn-icon {
        color: $color-white;
    }

    &:focus,
    &:hover {
        cursor: not-allowed;
    }
}
