.ds-btn--conversion {
    background-color: $color-watermelon;
    color: $color-text-inverted;

    &:hover {
        background-color: $color-watermelon-medium;
        cursor: pointer;
    }

    &:active {
        background-color: $color-watermelon-dark;
    }
}
