.ds-btn--primary {
    background-color: $color-corporate-green;
    color: $color-text-inverted;

    &:hover,
    &:focus {
        background-color: $color-corporate-green-medium;
    }

    &:active {
        background-color: $color-corporate-green-dark;
    }

    &.ds-is-disabled,
    &:disabled,
    &[disabled] {
        background-color: $color-pepper;
    }

}
