.ds-btn-tertiary {
    color: $color-corporate-green;
    padding: 0;

    /* stylelint-disable all */
    i.material-icons {
        color: $color-corporate-green;
    }
    /* stylelint-enable all */

    &--mobile {
        border-radius: 64px;
        width: 64px;
        height: 64px;

        /* stylelint-disable all */
        i.material-icons {
            color: $color-corporate-green-dark;
            font-size: 30px;
        }
        /* stylelint-enable all */
    }

    &:hover,
    &:focus {
        span {
            color: $color-corporate-green-medium;
        }
        /* stylelint-disable all */
        i.material-icons {
            color: $color-corporate-green-medium;
        }
        /* stylelint-enable all */
    }

    &:active {
        color: $color-corporate-green-dark;

        /* stylelint-disable all */
        i.material-icons {
            color: $color-corporate-green-dark;
        }
        /* stylelint-enable all */
    }

    + .ds-btn-primary,
    + .ds-btn-tertiary {
        margin-left: $unit * 3;
    }
}
