.ds-btn--tertiary {
    color: $color-corporate-green;
    padding: 0;

    /* stylelint-disable all */
    i.material-icons, i.material-icons-round, i.chefkoch-icons {
        color: $color-corporate-green;
    }
    /* stylelint-enable all */

    &:hover,
    &:focus {
        span {
            color: $color-corporate-green-medium;
        }
        /* stylelint-disable all */
        i.material-icons, i.material-icons-round, i.chefkoch-icons {
            color: $color-corporate-green-medium;
        }
        /* stylelint-enable all */
    }

    &:active {
        span {
            color: $color-corporate-green-dark;
        }

        /* stylelint-disable all */
        i.material-icons, i.material-icons-round, i.chefkoch-icons {
            color: $color-corporate-green-dark;
        }
        /* stylelint-enable all */
    }

    + .ds-btn-primary,
    + .ds-btn-tertiary {
        margin-left: $unit * 3;
    }
}
