.ds-btn-inactive {
    box-shadow: none;

    &.ds-btn-primary {
        background-color: $color-pepper;
        color: $color-text-inverted;

        &--mobile {
            border-radius: 64px;
            width: 64px;
            height: 64px;

            /* stylelint-disable all */
            i.material-icons {
                color: $color-text-inverted;
                font-size: 30px;
            }
            /* stylelint-enable all */
        }
    }

    &.ds-btn-secondary {
        border-color: $color-pepper;

        &--mobile {
            border-radius: 64px;
            width: 64px;
            height: 64px;

            /* stylelint-disable all */
            i.material-icons {
                color: $color-pepper;
                font-size: 30px;
            }
            /* stylelint-enable all */
        }

        &:hover {
            color: $color-pepper;
            background-color: $color-white;
        }
    }

    &.ds-btn-tertiary {

        /* stylelint-disable all */
        i.material-icons {
            color: $color-pepper;
        }
        /* stylelint-enable all */

        &--mobile {
            border-radius: 64px;
            width: 64px;
            height: 64px;

            /* stylelint-disable all */
            i.material-icons {
                color: $color-pepper;
                font-size: 30px;
            }
            /* stylelint-enable all */
        }

        &:hover,
        &:focus {
            span {
                color: $color-pepper;
                background-color: $color-white;
            }
            /* stylelint-disable all */
            i.material-icons {
                color: $color-pepper;
            }
            /* stylelint-enable all */
        }
    }

    &.ds-btn-secondary,
    &.ds-btn-tertiary,
    &.ds-btn-icon {
        color: $color-pepper;
    }

    &.ds-btn-primary.ds-btn-icon {
        color: $color-text-inverted;
    }

    &:focus,
    &:hover {
        cursor: not-allowed;
        box-shadow: none;

        span {
            text-decoration: none;
        }
    }
}
