.ds-btn-tile-action {

    min-height: $btn-base-value + 4;
    //min-width: 328px;
    background-color: $color-corporate-green-light;
    color: $color-text-inverted;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

    &:hover {
        cursor: pointer;

        /* stylelint-disable all */
        i.material-icons, i.chefkoch-icons {
            transform: scale(1.2);
        }
        /* stylelint-enable all */
    }

    &:active {
        background-color: $color-corporate-green-light;
    }

    /* stylelint-disable all */
    i.material-icons, i.chefkoch-icons {
        font-size: 28px;
        transition: all .3s ease-in-out;
    }
    /* stylelint-enable all */

    > span:first-child {
        margin-right: $unit * 2;
    }
}
