.ds-btn-add {
    @include ds-btn-shadow;

    background: $color-corporate-green;
    border-radius: 64px;
    text-align: center;

    &:hover {
        background-color: $color-corporate-green-medium;
        cursor: pointer;
    }

    // pressed?
    &:active {
        background-color: $color-corporate-green-dark;
    }

    /* stylelint-disable all */
    i.material-icons {
        color: $color-text-inverted;
        font-size: 30px;
        line-height: 64px;
    }
    /* stylelint-enable all */

    &--mobile {
        height: 64px;
        width: 64px;
    }

    &--desktop {
        border-radius: 22px;
        display: flex;
        height: 50%;

        span {
            align-items: center;
            color: $color-text-inverted;
            margin-left: $unit;
            margin-right: $unit;
        }
    }
}

