.ds-btn-secondary {

    background: $color-bg-content;
    border: solid 2px $color-corporate-green;
    color: $color-corporate-green;
    line-height: $btn-base-value - 2px;

    &:hover {
        background-color: $color-corporate-green-xlight;
        cursor: pointer;
    }

    &:active {
        background-color: $color-corporate-green-light;
    }

    &--active {
        background-color: $color-corporate-green-xlight;
    }
}
