.ds-btn-inactive {
    box-shadow: none;

    &.ds-btn-primary {
        background-color: $color-pepper;
        color: $color-text-inverted;
    }

    &.ds-btn-secondary {
        border-color: $color-pepper;
    }

    &.ds-btn-secondary,
    &.ds-btn-tertiary,
    &.ds-btn-icon {
        color: $color-pepper;
    }

    &.ds-btn-primary.ds-btn-icon {
        color: $color-text-inverted;
    }

    &:focus,
    &:hover {
        cursor: not-allowed;
        box-shadow: none;

        span {
            text-decoration: none;
        }
    }
}
