.ds-icon-btn {
    @include btn-reset;
    @include btn-base;
    @include btn-transitions;

    border-radius: 50%;
    padding: 0;
    width: $btn-icon-width;
    height: $btn-icon-height;

    color: $color-corporate-green;
    border: $btn-icon-border-width solid $color-corporate-green-light;

    &:hover,
    &:focus {
        border-color: $color-corporate-green;
    }

    &:active {
        border-color: $color-corporate-green-dark;
        color: $color-corporate-green-dark;
    }

    &.ds-is-disabled,
    &:disabled,
    &[disabled] {
        border-color: $color-pepper;
        color: $color-pepper;
    }

    &.ds-is-active {
        background-color: $color-corporate-green-xlight;
    }

    &__icon {
        font-size: $btn-icon-font-size;
    }
}
