<div class="ds-grid ds-row">
    <div class="ds-col-12 ds-col-m-off-8 ds-col-m-4">
        <h3>Markenrezepte bei Chefkoch</h3>

        <div class="ds-ri">
            <a class="ds-mb ds-ri-item" href="#">
                <figure class="ds-mb-left ds-ri-img">
                    <img alt="" src="https://img.chefkoch-cdn.de/rezepte/3557141532852839/bilder/1134889/crop-224x148/blumenkohl-curry.jpg" class="" />
                </figure>
                <div class="ds-mb-right">
                    <h4 class="ds-h5 ds-ri-title ds-trunc ds-trunc-2">Blumenkohl Bowl</h4>
                    <figure class="ds-ri-logo" src="https://img.chefkoch-cdn.de/images/fit-86x40/recipe-integration/ads/5b486a58b1733572087409.png">
                        <img width="68" height="32" alt="" src="https://img.chefkoch-cdn.de/images/fit-86x40/recipe-integration/ads/5b486a58b1733572087409.png" />
                    </figure>
                </div>
            </a>

            <a class="ds-mb ds-ri-item" href="#">
                <figure class="ds-mb-left ds-ri-img">
                    <img alt="" src="https://img.chefkoch-cdn.de/rezepte/3557131532852465/bilder/1134888/crop-224x148/lauch-kaese-suppe-mit-hackfleisch.jpg" class="" />
                </figure>
                <div class="ds-mb-right">
                    <h4 class="ds-h5 ds-ri-title ds-trunc ds-trunc-2">Lauch-Käse Suppe mit Hackfleisch</h4>
                    <figure class="ds-ri-logo">
                        <img width="68" height="32" alt="" src="https://img.chefkoch-cdn.de/images/fit-86x40/recipe-integration/ads/5b486a58b1733572087409.png" />
                    </figure>
                </div>
            </a>

            <a class="ds-mb ds-ri-item" href="#">
                <figure class="ds-mb-left ds-ri-img">
                    <img alt="" src="https://img.chefkoch-cdn.de/rezepte/3618091544087335/bilder/1166198/crop-224x148/suesse-nudeln-mit-steak-und-gebackenem-brokkoli.jpg" class="" />
                </figure>
                <div class="ds-mb-right">
                    <h4 class="ds-h5 ds-ri-title ds-trunc ds-trunc-2">Süße Nudeln mit Steak und gebackenem Brokkoli</h4>
                    <figure class="ds-ri-logo" src="https://img.chefkoch-cdn.de/images/fit-86x40/recipe-integration/ads/5b486a58b1733572087409.png">
                        <img width="68" height="32" alt="" src="https://img.chefkoch-cdn.de/images/fit-86x40/recipe-integration/ads/5b486a58b1733572087409.png" />
                    </figure>
                </div>
            </a>
        </div>

    </div>
</div>
