<div class="ds-grid ds-row">
    <div class="ds-box ds-col-12 ds-col-m-6">
        <h4>Ausprägungen</h4>
        <small class="ds-recipe-meta">
            <span class="ds-recipe-preptime">
                <i class="material-icons">access_time</i>
                5 min.
            </span>
            <span class="ds-recipe-difficulty">
                <i class="material-icons">signal_cellular_alt</i>
                <span>simpel</span>
            </span>
            <span class="ds-recipe-date">
                <i class="material-icons">date_range</i>
                15.01.2019
            </span>
        </small>
        <br/>
        <small class="ds-recipe-meta">
            <span class="ds-recipe-preptime">
                <i class="material-icons">access_time</i>
                30 min.
            </span>
            <span class="ds-recipe-difficulty">
                <i class="material-icons">signal_cellular_alt</i>
                normal
            </span>
            <span class="ds-recipe-date">
                <i class="material-icons">date_range</i>
                15.01.19
            </span>
        </small>
        <br/>
        <small class="ds-recipe-meta">
            <span class="ds-recipe-preptime">
                <i class="material-icons">access_time</i>
                120 min.
            </span>
            <span class="ds-recipe-difficulty">
                <i class="material-icons">signal_cellular_alt</i>
                pfiffig
            </span>
        </small>

        <hr class="ds-hr ds-to-s" />
    </div>

    <div class="ds-col-12 ds-col-m-6">
        <h4>Kombinationsbeispiel RSEL / RDS</h4>
        <h2 class="ds-h3">Bacon Stripes</h2>
        <div class="ds-rating">
            <div class="ds-rating-stars " title="1337 Bewertungen">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>
        <p class="recipe-text" style="max-width: 300px;">Nur das Beste für jeden Bacon Lover. Bacon Stripes vom
            Feinsten, yum!</p>
        <small class="ds-recipe-meta">
            <span class="ds-recipe-preptime">
                <i class="material-icons">access_time</i>
                5 min.
            </span>
            <span class="ds-recipe-difficulty">
                <i class="material-icons">signal_cellular_alt</i>
                simpel
            </span>
            <span class="ds-recipe-date">
                <i class="material-icons">date_range</i>
                15.01.2019
            </span>
        </small>
    </div>
</div>
