<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Search-box in Kombination</h4>
        <form class="ds-search-box">
            <input class="ds-input" maxlength="120" type="text" name="suche"
                   placeholder="z. B. Pfannkuchen, Lasagne, Low Carb"
                   autocomplete="off">

            <div class="ds-select-box">
                <select name="search-box" class="ds-select">
                    <option value="0">überall</option><option value="4">im Magazin</option>
                    <option value="2" selected="">in Rezepten</option>
                    <option value="10">in Sammlungen</option>
                    <option value="1">in Foren</option>
                    <option value="7">in Gruppen</option>
                    <option value="3">nach Usern</option>
                </select>
                <i class="material-icons">expand_more</i>
            </div>

            <button class="ds-btn ds-btn-primary ds-btn-icon" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>

        <br/>

        <h4>Search-box mit select ab Breakpoint m</h4>
        <form class="ds-search-box">
            <input class="ds-input" maxlength="120" type="text" name="suche"
                   placeholder="z. B. Pfannkuchen, Lasagne, Low Carb"
                   autocomplete="off">

            <div class="ds-select-box ds-from-m">
                <select name="search-box" class="ds-select">
                    <option value="0">überall</option><option value="4">im Magazin</option>
                    <option value="2" selected="">in Rezepten</option>
                    <option value="10">in Sammlungen</option>
                    <option value="1">in Foren</option>
                    <option value="7">in Gruppen</option>
                    <option value="3">nach Usern</option>
                </select>
                <i class="material-icons">expand_more</i>
            </div>

            <button class="ds-btn ds-btn-primary ds-btn-icon" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>

        <br/>&nbsp;<br/>

        <h4>Search-box Elemente ohne notwendige .ds-search-box Klasse</h4>
        <form>
            <input class="ds-input" maxlength="120" type="text" name="suche"
                   placeholder="z. B. Pfannkuchen, Lasagne, Low Carb"
                   autocomplete="off">

            <div class="ds-select-box">
                <select name="wo" class="ds-select">
                    <option value="0">überall</option><option value="4">im Magazin</option>
                    <option value="2" selected="">in Rezepten</option>
                    <option value="10">in Sammlungen</option>
                    <option value="1">in Foren</option>
                    <option value="7">in Gruppen</option>
                    <option value="3">nach Usern</option>
                </select>
                <i class="material-icons">expand_more</i>
            </div>

            <button class="ds-btn ds-btn-primary ds-btn-icon" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>

    </div>
</div>
