.ds-action-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover {
        cursor: pointer;
    }

    &--content {
        border-radius: 20px 20px 0 0;
        background-color: $color-white;
        padding: 16px 16px 20px 18px;
        overflow: auto;
        /* stylelint-disable all */
        i.material-icons {
            color: $color-chia;
            background-color: $color-white;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        /* stylelint-enable all */
    }

    &--actions {
        display: flex;
        flex-direction: column;
    }

    &--action {
        display: flex;
        padding-top: 25px;

        /* stylelint-disable all */
        i.material-icons {
            font-size: 25px;
            margin-right: 16px;
        }
        /* stylelint-enable all */
    }
}
