.ds-box {
    margin-bottom: $unit * 4;
    position: relative;
}

.ds-hr {
    border: 0;
    border-top: 1px solid $color-grey-light;
    margin: 0 auto $unit * 4;
    width: 100%;

    /* stylelint-disable all */

    main > & {
        width: calc(100% - #{$unit});

        @include media-breakpoint-from(xxs) {
            width: calc(100% - #{$unit * 2});
        }
    }

    .ad & {
        width: calc(100% - #{$unit * 2});

        @include media-breakpoint-from(xxs) {
            width: calc(100% - #{$unit * 4});
        }

        @include media-breakpoint-only(s) {
            width: $screen-s - 32px;
        }
    }

    main > &,
    .ad & {
        @include media-breakpoint-from(m) {
            margin-bottom: 0;
            padding-bottom: 32px; // margin isn't included into main, but outside of it. maybe b/c of the float?
            width: calc(#{$screen-m} - #{$unit * 5});
        }
    }

    /* stylelint-enable all */
}

.ds-to-s {
    @include media-breakpoint-from(m) {
        display: none;
    }
}
