.ds-box {
    margin-bottom: $unit * 4;
    position: relative;
}

hr {
    border: 0;
    border-bottom: 1px solid $color-grey-light;
    margin: 0;
    width: 100%;

    /* stylelint-disable all */
    .ad--top &,
    .ad--bottom & {
        margin: 0 auto;
        width: calc(100% - 16px);

        @include media-breakpoint-from(xxs) {
            width: calc(100% - 32px);
        }

        @include media-breakpoint-from(s) {
            width: 568px;
        }

        @include media-breakpoint-from(m) {
            width: calc(100% - 48px);
        }
    }
    /* stylelint-enable all */

    /* direct children of main  only */
    main > & {
        margin: 0 auto;
        width: calc(100% - 8px);

        @include media-breakpoint-from(xxs) {
            width: calc(100% - 16px);
        }

        @include media-breakpoint-from(s) {
            width: 568px;
        }

        @include media-breakpoint-from(m) {
            width: calc(100% - 24px);
        }
    }
}

.ds-hr {
    padding-top: $unit * 4;
}

.ds-to-s {
    @include media-breakpoint-from(m) {
        display: none;
    }
}
