<h1>Mobiles Dropdown Action-Menu:</h1>
<div class="ds-box ds-col-12 ds-col-s-6" style="height: 600px; background-color: rgba(0, 0, 0, 0.2); padding: 0">
    <div class="ds-action-menu">
        <div class="ds-action-menu__wrapper">
            <i class="material-icons">clear</i>
            <div class="ds-action-menu--actions">
                <div class="ds-action-menu--buttons">
                    <div class="ds-action-menu--action">
                        <div class="ds-action-menu--action--wrapper">
                            <i class="material-icons ds-button-icon">redo</i>
                            <span>Item verschieben</span>
                        </div>
                        <div class="ds-action-menu--action--wrapper">
                            <i class="material-icons ds-button-icon">playlist_add</i>
                            <span>Item kopieren</span>
                        </div>
                        <div class="ds-action-menu--action--wrapper">
                            <i class="material-icons ds-button-icon">delete_forever</i>
                            <span>Item Löschen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
