<div class="ds-grid ds-row">
    <div class="ds-col-12">

        <form class="ds-grid ds-row">

            <fieldset class="ds-col-12">
                <legend>What do you add to your delicious Bacon Stripes?</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-cb-rb ds-col-12 ds-col-s-6">
                        <input type="checkbox" id="cb-1" name="bacon-stripes">
                        <i class="material-icons ds-icon-active">check_box</i>
                        <i class="material-icons ds-icon-inactive">check_box_outline_blank</i>
                        <label for="cb-1">More Bacon Stripes</label>
                    </div>

                    <div class="ds-cb-rb ds-col-12 ds-col-s-6">
                        <input type="checkbox" id="cb-2" name="eggs" checked="checked">
                        <i class="material-icons ds-icon-active">check_box</i>
                        <i class="material-icons ds-icon-inactive">check_box_outline_blank</i>
                        <label for="cb-2">Eggs</label>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
</div>
