<div class="ds-grid ds-row">
    <div class="ds-col-12">

        <form class="ds-grid ds-row">
            <fieldset class="ds-box ds-col-12">
                <legend>What do you add to your delicious Bacon Stripes?</legend>

                <div class="ds-select-box">
                    <select name="select" class="ds-select">
                        <option value="0">Bacoon</option>
                        <option value="1" selected="">moooaarrr Bacooon</option>
                        <option value="2">Eggs</option>
                        <option value="3">Toast</option>
                        <option value="4">Butter</option>
                    </select>
                    <i class="material-icons">expand_more</i>
                </div>

                <hr class="ds-hr" />
            </fieldset>

            <fieldset class="ds-col-12">
                <legend>Same Thing just smaller?</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-col-12 ds-col-s-6">
                        <div class="ds-select-box">
                            <select name="select" class="ds-select">
                                <option value="0">Bacoon</option>
                                <option value="1" selected="">moooaarrr Bacooon</option>
                                <option value="2">Eggs</option>
                                <option value="3">Toast</option>
                                <option value="4">Butter</option>
                            </select>
                            <i class="material-icons">expand_more</i>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
