<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Button | .ds-btn-inactive</h4>
    </div>

    <div class="ds-col-12">
        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-primary ds-btn-inactive">
                <span>Primary deactivated</span>
            </button>

            <button class="ds-btn ds-btn-primary ds-btn-icon ds-btn-icon-l ds-btn-inactive">
                <i class="material-icons">print</i>
                <span>Primary Icon deactivated</span>
            </button>
        </div>

        <br/>

        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-secondary ds-btn-inactive">
                <span>Secondary deactivated</span>
            </button>

            <button class="ds-btn ds-btn-secondary ds-btn-icon ds-btn-icon-l ds-btn-inactive">
                <i class="material-icons">print</i>
                <span>Secondary Icon deactivated</span>
            </button>
        </div>

        <br/>

        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-tertiary ds-btn-inactive">
                <span>Tertiary deactivated</span>
            </button>

            <button class="ds-btn ds-btn-tertiary ds-btn-icon ds-btn-icon-r ds-btn-inactive">
                <span>Tertiary Icon deactivated</span>
                <i class="material-icons">chevron_right</i>
            </button>
        </div>

    </div>
</div>
