<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Button | .ds-btn-inactive</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-primary ds-btn-inactive">
                Primary deactivated
            </button>

            <button class="ds-btn ds-btn-primary ds-btn-icon ds-btn-icon-l ds-btn-inactive">
                <i class="material-icons">print</i>
                Primary Icon deactivated
            </button>
        </div>

        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-secondary ds-btn-inactive">
                Secondary deactivated
            </button>

            <button class="ds-btn ds-btn-secondary ds-btn-icon ds-btn-icon-l ds-btn-inactive">
                <i class="material-icons">print</i>
                Secondary Icon deactivated
            </button>
        </div>

        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-tertiary ds-btn-inactive">
                Tertiary deactivated
            </button>

            <button class="ds-btn ds-btn-tertiary ds-btn-icon ds-btn-icon-r ds-btn-inactive">
                Tertiary Icon deactivated
                <i class="material-icons">chevron_right</i>
            </button>
        </div>

    </div>
</div>
