<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">

        <form class="ds-grid ds-row">

            <fieldset class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
                <legend>How do you like your Bacon Stripes?</legend>
                <div class="ds-form-item">
                    <input type="radio" id="option-1" name="bacon" class="ds-rb" value="on">
                    <i class="material-icons ds-icon-active">radio_button_checked</i>
                    <i class="material-icons ds-icon-inactive">radio_button_unchecked</i>
                    <label for="option-1">Cross</label>
                </div>
                <div class="ds-form-item">
                    <input type="radio" id="option-2" name="bacon" class="ds-rb" value="off" checked="checked">
                    <i class="material-icons ds-icon-active">radio_button_checked</i>
                    <i class="material-icons ds-icon-inactive">radio_button_checked</i>
                    <label for="option-2">Extra Cross</label>
                </div>
            </fieldset>

        </form>

    </div>
</div>
