<div class="ds-grid ds-row">
    <div class="ds-col-12">

        <form class="ds-grid ds-row">

            <fieldset class="ds-col-12">
                <legend>How do you like your Bacon Stripes?</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-cb-rb ds-col-12 ds-col-s-6">
                        <input type="radio" id="rb-1" name="cross" checked="checked">
                        <i class="material-icons ds-icon-active">radio_button_checked</i>
                        <i class="material-icons ds-icon-inactive">radio_button_unchecked</i>
                        <label for="rb-1">Extra Cross</label>
                    </div>

                    <div class="ds-cb-rb ds-col-12 ds-col-s-6">
                        <input type="radio" id="rb-2" name="cross">
                        <i class="material-icons ds-icon-active">radio_button_checked</i>
                        <i class="material-icons ds-icon-inactive">radio_button_unchecked</i>
                        <label for="rb-2">Cross</label>
                    </div>
                </div>

            </fieldset>

        </form>

    </div>
</div>
