<div class="ds-grid ds-row">
    <div class="ds-col-12 ds-col-m-6">
        <h3 class="ds-h7-btm">Success Notice<span class="ds-h7">Verwendet Material Icon check_circle</span></h3>
        <div class="ds-notice ds-notice-success">
            <i class="material-icons">check_circle</i>
            <p>Das Rezept wurde erfolgreich in deinem Kochbuch gespeichert.</p>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-to-s">
        <hr class="ds-hr" />
    </div>

    <div class="ds-col-12 ds-col-m-6">
        <h3 class="ds-h7-btm">Failure Notice<span class="ds-h7">Verwendet Material Icon cancel</span></h3>
        <div class="ds-notice ds-notice-fail">
            <i class="material-icons">cancel</i>
            <p>Das Rezept konnte nicht in dein Kochbuch gespeichert werden.</p>
        </div>
    </div>
</div>
