<div class="ds-grid ds-row">

    <div class="ds-box ds-col-12">

        <div class="ds-row">
            <h4 class="ds-col-12">
                <img src="./app/images/yes.svg"> Do
            </h4>
        </div>

        <div class="ds-mb ds-mb-row">
            <figure class="ds-mb-left" style="width: 33%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/2397571379105119/bilder/1102329/crop-138x138/lachs-von-bacon-umrollt-mit-pikanter-gemuesepfanne-und-feta-kaese.jpg" />
            </figure>
            <div class="ds-mb-right" style="width: 66%;">
                Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes!
            </div>
        </div>

        <hr class="ds-hr" />
    </div>

    <div class="ds-box ds-col-12">

        <div class="ds-row">
            <h4 class="ds-col-12">
                <img src="./app/images/no.svg"> Don't
            </h4>
        </div>

        <div class="ds-mb ds-mb-col">
            <figure class="ds-mb-left" style="width: 33%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/2397571379105119/bilder/1102329/crop-138x138/lachs-von-bacon-umrollt-mit-pikanter-gemuesepfanne-und-feta-kaese.jpg" />
            </figure>
            <div class="ds-mb-right" style="width: 100%;">
                Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes!
            </div>
        </div>

        <hr class="ds-hr" />
    </div>

    <div class="ds-col-12">

        <div class="ds-row">
            <h4 class="ds-col-12">
                <img src="./app/images/no.svg"> Don't
            </h4>
        </div>

        <div class="ds-mb ds-mb-col">
            <figure class="ds-mb-left" style="width: 100%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/2397571379105119/bilder/1102329/crop-138x138/lachs-von-bacon-umrollt-mit-pikanter-gemuesepfanne-und-feta-kaese.jpg" style="width: 100%;" />
            </figure>
            <div class="ds-mb-right" style="width: 100%;">
                Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes! And Bacon Stripes!
            </div>
        </div>

    </div>

</div>


