<div class="ndpl-container-main" style="padding-bottom: 100px">
  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>ohne Bild</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image"></div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>mit Bild</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">

          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
            </div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>Privat Rezept (ohne Bild)</h4>
  
      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">
  
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap ds-list-view-item__image-wrap--no-image">
              <div class="ds-list-view-item__badge">
                <div class="ds-recipe-badge ds-recipe-badge--list-item">
                  <i class="chefkoch-icons ds-recipe-badge__icon">lock</i>
                </div>
              </div>
            </div>
          </div>
  
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
          </div>
        </a>
  
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->
  
    </div>
  </div>


  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>Privat Rezept</h4>
  
      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">
  
        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
              <div class="ds-list-view-item__badge">
                <div class="ds-recipe-badge ds-recipe-badge--list-item">
                  <i class="chefkoch-icons ds-recipe-badge__icon">lock</i>
                </div>
              </div>
            </div>
          </div>
  
          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
          </div>
        </a>
  
        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->
  
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>mit Notiz</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
            </div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
                <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;garantiert wie beim Italiener!&rdquo;</p>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>mit langer Notiz</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
            </div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
                <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Nach unzähligen Feldversuchen, reichlich Google-Recherche und Restaurant-Spionage habe ich endlich ein Rezept entwickelt, das absolut authentisch und lecker schmeckt - eben wie in Bella Italia!&rdquo;</p>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>


  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>mit langer Notiz ausgeklappt</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
            </div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_collapse</i>
                <p class="ds-text-toggle__text ds-text-caption">&bdquo;Nach unzähligen Feldversuchen, reichlich Google-Recherche und Restaurant-Spionage habe ich endlich ein Rezept entwickelt, das absolut authentisch und lecker schmeckt - eben wie in Bella Italia!&rdquo;</p>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>


  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>mit optionalem Background Hover</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--hover-bg-from-m ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">
          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
            </div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column ds-list-view-item__column--info">
              <h4 class="ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
            <div class="ds-list-view-item__column ds-list-view-item__column--note">
              <div class="ds-text-toggle">
                <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
                <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Nach unzähligen Feldversuchen, reichlich Google-Recherche und Restaurant-Spionage habe ich endlich ein Rezept entwickelt, das absolut authentisch und lecker schmeckt - eben wie in Bella Italia!&rdquo;</p>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu">
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>
  
  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>mit Dropdown ausgeklappt</h4>

      <!-- .ds-list-view-item -->
      <div class="ds-list-view-item ds-list-view-item--recipe">

        <a class="ds-list-view-item__link ds-teaser-link" href="#" title="Der beste Pizzateig">

          <div class="ds-list-view-item__media">
            <div class="ds-list-view-item__image-wrap">
              <img class="ds-list-view-item__image"
                width="144" height="108"
                loading="lazy"
                srcset="https://api.chefkoch.de/v2/images/crop-288x216/recipes/1151011221381450/images/1022654/crop-960x720 2x,
                https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720 1x" 
                src="https://api.chefkoch.de/v2/images/crop-144x108/recipes/1151011221381450/images/1022654/crop-960x720"
                >
            </div>
          </div>

          <div class="ds-list-view-item__body">
            <div class="ds-list-view-item__column">
              <h4 class="ds-teaser-link__headline ds-list-view-item__headline ds-h4 ds-text-sans ds-trunc ds-trunc-2">Der beste Pizzateig, den es weltweit zu finden gibt!</h4>
              <div class="ds-recipe-info ds-text-caption">
                <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
                <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
                <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
                <span class="ds-recipe-info__text ds-text-caption">normal</span>
              </div>
            </div>
          </div>
        </a>

        <div class="ds-list-view-item__action">
          <div class="ds-dropdown-menu ds-dropdown-menu--active">
            <div class="ds-dropdown-menu__actions-wrap ds-dropdown-menu__actions-wrap--right">
              <ul class="ds-dropdown-menu__actions ds-dropdown-menu__actions--no-wrap">
                <li class="ds-dropdown-menu__item">
                    <a class="ds-dropdown-menu__action"><i
                      class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">copy</i> <span>Zu einer Sammlung
                      hinzufügen</span></a>
                </li>
                <li class="ds-dropdown-menu__item"><a class="ds-dropdown-menu__action"><i
                      class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">delete_overall</i> <span>Aus dem
                      Kochbuch löschen</span></a></li>
                <li class="ds-dropdown-menu__item"><a class="ds-dropdown-menu__action"><i
                      class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">list_edit</i> <span>Notiz
                      bearbeiten</span></a></li>
              </ul>
            </div>
            <button class="ds-dropdown-menu__button ds-btn ds-btn--round ds-btn--action-menu ds-btn--size-s ds-btn--active">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </div>
      <!-- / .ds-list-view-item -->

    </div>
  </div>

</div>