<div class="ds-grid ds-row">
    <div class="ds-col-12">

        <form>

            <!-- Beispiel 1 -->
            <fieldset class="ds-box">
                <legend>Fieldset Title</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-col-12 ds-col-s-6">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                    <div class="ds-col-12 ds-col-s-6">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                </div>

                <hr class="ds-hr" />
            </fieldset>

            <!-- Beispiel 2 -->
            <fieldset class="ds-box">
                <legend>Fieldset Title</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-col-12">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                    <div class="ds-col-12">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                </div>

                <hr class="ds-hr" />
            </fieldset>

            <!-- Beispiel 3 -->
            <div class="ds-grid ds-row">
                <div class="ds-col-12 ds-col-s-6">
                    <fieldset>
                        <legend>Fieldset Title</legend>

                        <input type="text" placeholder="Placeholder" class="ds-input">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </fieldset>
                </div>

                <div class="ds-col-12 ds-col-s-6">
                    <fieldset>
                        <legend>Fieldset Title</legend>

                        <input type="text" placeholder="Placeholder" class="ds-input">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </fieldset>
                </div>
            </div>
        </form>

    </div>
</div>
