<div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
        <h3>Beispiele</h3>
    </div>
    <div class="ds-col-12 ds-box">
        <h5>Padding</h5>
        <div class="ds-pb-1 ds-pb-m-4 ndpl-spacing-util-padding" style="background-color: #e2ece3"><small>.ds-pb-1 .ds-pb-m-4</small></div><br>
        <div class="ds-pb-2 ds-pb-m-8 ndpl-spacing-util-padding" style="background-color: #a7c6ac"><small>.ds-pb-2 .ds-pb-m-8</small></div><br>
        <div class="ds-pb-4 ds-pb-m-12 ndpl-spacing-util-padding" style="background-color: #6ca075"><small>.ds-pb-2 .ds-pb-m-8</small></div>
    </div>
    <div class="ds-col-12">
        <h5>Margin</h5>
        <div class="ndpl-spacing-util-margin" style="background-color: #e2ece3"><small class="ds-mb-1 ds-mb-m-4" style="display:inline-block; background: black; color: white;">.ds-mb-1 .ds-mb-m-4</small></div>
        <div class="ndpl-spacing-util-margin" style="background-color: #a7c6ac"><small class="ds-mb-2 ds-mb-m-8" style="display:inline-block; background: black; color: white;">.ds-mb-2 .ds-mb-m-8</small></div>
        <div class="ndpl-spacing-util-margin" style="background-color: #6ca075"><small class="ds-mb-4 ds-mb-m-12" style="display:inline-block; background: black; color: white;">.ds-mb-4 .ds-mb-m-12</small></div>
    </div>
</div>
