/* font-family
----------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Source+Serif+Pro:400,600,700");

$fontfamily-base: "Source Sans Pro", "Arial", sans-serif;
$fontfamily-base-serif: "Source Serif Pro", serif;

/* font-sizes
----------------------------------- */

$fontsize-base: 18px !default;
$fontsize-small: 14px !default;
$fontsize-tiny: 12px !default;

$fontsize-h1: 40px !default;
$fontsize-h2: 32px !default;
$fontsize-h3: 24px !default;
$fontsize-h4: $fontsize-base;
$fontsize-h5: $fontsize-base;

/* line-heights
----------------------------------- */

// we use px here so that we can reuse this variable again
$lineheight-base: 27px !default;
$lineheight-small: 19px !default;

$lineheight-h1: 44px !default; //44px
$lineheight-h2: 36px !default; //32px
$lineheight-h3: 28px !default;
$lineheight-h4: $lineheight-base;
$lineheight-h5: $lineheight-base;


/* font: x;
----------------------------------- */
// font: font-weight font-size/line-height font-family;

$font-base: normal #{$fontsize-base}/#{$lineheight-base} $fontfamily-base !default;
// to be used for highlighting passages in introduction texts
$font-base-bold: bold #{$fontsize-base}/#{$lineheight-base} $fontfamily-base !default;
$font-small: normal #{$fontsize-small}/#{$lineheight-small} $fontfamily-base !default;

$font-h1: 600 #{$fontsize-h1}/#{$lineheight-h1} $fontfamily-base-serif !default;
$font-h2: 600 #{$fontsize-h2}/#{$lineheight-h2} $fontfamily-base-serif !default;
$font-h3: 600 #{$fontsize-h3}/#{$lineheight-h3} $fontfamily-base-serif !default;
$font-h4: 600 #{$fontsize-h4}/#{$lineheight-h4} $fontfamily-base-serif !default;
$font-h5: 700 #{$fontsize-h4}/#{$lineheight-h4} $fontfamily-base !default;

/* will be deleted
** when RDS gets its makeover
----------------------------------- */

$font-subheading-1: normal #{$fontsize-h3}/#{$unit * 4} $fontfamily-base !default;


/* deprecated?
----------------------------------- */

// will this be used?
$fontfamily-serif: "Georgia", "Times", "Times New Roman", serif;
$fontsize-marginalia: 10px !default;

$fontweight-thin: 100;
$fontweight-extra-light: 200;
$fontweight-light: 300;
$fontweight-normal: 400;
$fontweight-medium: 500;
$fontweight-semi-bold: 600;
$fontweight-bold: 700;
$fontweight-extra-bold: 800;
$fontweight-black: 900;
