@import "settings.typography";
@import "tools.typography";
@import "../colors/colors";

body {
    font: $font-base;
    color: $color-text;
}

aside {
    font: $font-small;
}

/* reset
----------------------------------- */

h1,
.ds-h1,
h2,
.ds-h2,
h3,
.ds-h3,
h4,
.ds-h4,
p,
ul {
    margin-bottom: $unit * 2;
    margin-top: 0;
}

/* headlines
----------------------------------- */

h1,
.ds-h1 {
    font: $font-h1;

    @include media-breakpoint-only(s) {
        font: $font-h1-tablet
    }

    @include media-breakpoint-to(xs) {
        font: $font-h1-mobile
    }
}

h2,
.ds-h2 {
    font: $font-h2;

    @include media-breakpoint-only(s) {
        font: $font-h2-tablet
    }

    @include media-breakpoint-to(xs) {
        font: $font-h2-mobile
    }
}

h3,
.ds-h3 {
    font: $font-h3;

    @include media-breakpoint-only(s) {
        font: $font-h3-tablet
    }

    @include media-breakpoint-to(xs) {
        font: $font-h3-mobile
    }
}

.ds-h4 {
    font: $font-h4;

    @include media-breakpoint-only(s) {
        font: $font-h4-tablet
    }

    @include media-breakpoint-to(xs) {
        font: $font-h4-mobile
    }
}

h5,
.ds-h5 {
    font: $font-h5;
    margin-bottom: $unit;
    margin-top: 0;

    @include media-breakpoint-only(s) {
        font: $font-h5-tablet
    }

    @include media-breakpoint-to(xs) {
        font: $font-h5-mobile
    }
}

.ds-h7-top,
.ds-h7-btm {
    display: flex;
}

.ds-h7-btm {
    flex-direction: column;
}

.ds-h7-top {
    flex-direction: column-reverse;
}

.ds-h7 {
    color: $color-chia;
    font: $font-small;
    letter-spacing: 0.5px;
}

/* copy text */

// reset margin-bottom to 0 if the last child of a container is a paragraph
p:last-child {
    margin-bottom: 0;
}

aside.ds-box {
    p:not(:last-of-type) {
        margin-bottom: $unit;
    }
}
