<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">

        <form>
            <fieldset>
                <legend>Fieldset Title</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-form-item ds-col-xs-12 ds-col-s-6 ds-col-m-6">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                    <div class="ds-form-item ds-col-xs-12 ds-col-s-6 ds-col-m-6">
                        <input type="text" value="Bacon Stripes" class="ds-input">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Fieldset Title</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-form-item ds-col-xs-12 ds-col-s-12 ds-col-m-12">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                    <div class="ds-form-item ds-col-xs-12 ds-col-s-12 ds-col-m-12">
                        <input type="text" placeholder="Placeholder" class="ds-input">
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
