<!--This is just a wrapper to display the actionMenu in the DSY Frontend-->
<h1>Mobiles Action-Menu:</h1>
<div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3" style="height: 600px; padding: 0">
<!--End of wrapper-->
    <div class="ds-action-menu">
        <div class="ds-action-menu--content">
            <i class="material-icons">clear</i>
                <div class="ds-action-menu--actions">
                    <div class="ds-action-menu--action">
                        <i class="material-icons ds-button-icon">redo</i>
                        <span>Item verschieben</span>
                    </div>
                    <div class="ds-action-menu--action">
                        <i class="material-icons ds-button-icon">playlist_add</i>
                        <span>Item kopieren</span>
                    </div>
                    <div class="ds-action-menu--action">
                        <i class="material-icons ds-button-icon">delete_forever</i>
                        <span>Item Löschen</span>
                    </div>
                </div>
        </div>
    </div>
</div>
