<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>Rezept Card</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#" title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image" style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')"></div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <i class="chefkoch-icons ds-recipe-card__meta-icon ds-recipe-card__meta-icon--first">time</i>
            <span
                class="ds-recipe-card__meta-text ds-text-caption">15 Min.</span>
            <i class="chefkoch-icons ds-recipe-card__meta-icon">difficulty_level</i>
            <span
                class="ds-recipe-card__meta-text ds-text-caption">normal</span>
          </div>
        </a>
        <div class="ds-recipe-card__action-menu" ref="action-menu">
            <button class="ds-btn ds-recipe-card__button">
              <i class="chefkoch-icons">more_horiz</i>
            </button>
        </div>
      </div>
      <div class="ds-recipe-card__note">
        <i class="ds-recipe-card__note-icon chefkoch-icons">list_expand</i>
        <p class="ds-recipe-card__note-text ds-text-caption">&bdquo;Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern&rdquo;</p>
      </div>
    </div>
  </div>
</div>
