<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12">
    <h2>Standard</h2>
  </div>
</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>ohne Bild</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"></div>
          <div class="ds-recipe-card__rating">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-mirabelle">rating_star</i>
              <span class="ds-recipe-info__text ds-semi-bold">4,5/5</span><span class="ds-recipe-info__text ds-recipe-info__text--ml">(2500)</span>
            </div>
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-recipe-card__button--save ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons ds-btn__icon">bookmark_border</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>mit Bild</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>          
          <div class="ds-recipe-card__rating">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-mirabelle">rating_star</i>
              <span class="ds-recipe-info__text ds-semi-bold">4,5/5</span><span class="ds-recipe-info__text ds-recipe-info__text--ml">(2500)</span>
            </div>
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-recipe-card__button--save ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons ds-btn__icon">bookmark_border</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>Speichern disabled</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
          style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>          
          <div class="ds-recipe-card__rating">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-mirabelle">rating_star</i>
              <span class="ds-recipe-info__text ds-semi-bold">4,5/5</span><span class="ds-recipe-info__text ds-recipe-info__text--ml">(2500)</span>
            </div>
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-recipe-card__button--save ds-btn ds-btn--icon-only ds-is-disabled">
            <i class="chefkoch-icons ds-btn__icon">bookmark_border</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>Gespeichert</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
          style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>          
          <div class="ds-recipe-card__rating">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-mirabelle">rating_star</i>
              <span class="ds-recipe-info__text ds-semi-bold">4,5/5</span><span class="ds-recipe-info__text ds-recipe-info__text--ml">(2500)</span>
            </div>
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-recipe-card__button--save ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons ds-btn__icon">bookmark_solid</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>optionale Beschreibung</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
          style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <div class="ds-recipe-card__rating">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-mirabelle">rating_star</i>
              <span class="ds-recipe-info__text ds-semi-bold">4,5/5</span><span class="ds-recipe-info__text ds-recipe-info__text--ml">(2500)</span>
            </div>
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__description ds-text-caption ds-trunc ds-trunc-2">
            Dies ist eine Rezeptbeschreibung mit maximal zwei Zeilen...
          </div>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-recipe-card__button--save ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons ds-btn__icon">bookmark_border</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12">
    <h2>Kochbuch</h2>
  </div>
</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>ohne Bild</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"></div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>mit Bild</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>Privatrezept</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
          <div class="ds-recipe-card__action ds-recipe-card__action--left">
            <div class="ds-recipe-card__badge">
              <i class="chefkoch-icons ds-recipe-card__badge-icon">lock</i>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action">
          <button class="ds-recipe-card__button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>mit Notiz</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
      <div class="ds-recipe-card__note">
        <i class="ds-recipe-card__note-icon chefkoch-icons">list_expand</i>
        <p class="ds-recipe-card__note-text ds-text-caption">&bdquo;Tunesiches und israelisches Gericht aus Tomaten,
          Paprika, Zwiebeln und Eiern&rdquo;</p>
      </div>
    </div>
  </div>

  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>mit langer Notiz</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
      <div class="ds-recipe-card__note">
        <i class="ds-recipe-card__note-icon chefkoch-icons">list_expand</i>
        <p class="ds-recipe-card__note-text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Tunesiches und israelisches
          Gericht aus Tomaten, Paprika, Zwiebeln und Eiern. Es ist äußerst lecker und im Handumdrehen zubereitet.&rdquo;</p>
      </div>
    </div>
  </div>

  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>mit langer Notiz (ausgeklappt)</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <button class="ds-recipe-card__button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
      <div class="ds-recipe-card__note">
        <i class="ds-recipe-card__note-icon chefkoch-icons">list_collapse</i>
        <p class="ds-recipe-card__note-text ds-text-caption">&bdquo;Tunesiches und israelisches
          Gericht aus Tomaten, Paprika, Zwiebeln und Eiern. Es ist äußerst lecker und im Handumdrehen zubereitet.&rdquo;</p>
      </div>
    </div>
  </div>
</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>Dropdown</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <div class="ds-dropdown-menu ds-is-visible ds-from-s">
            <div class="ds-dropdown-menu--fill"></div>
            <ul class="ds-dropdown-menu__actions ds-dropdown-menu__actions--no-wrap">
              <li class="ds-dropdown-menu__item">
                  <a class="ds-dropdown-menu__action"><i
                    class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">copy</i> <span>Zu einer Sammlung
                    hinzufügen</span></a>
              </li>
              <li class="ds-dropdown-menu__item"><a class="ds-dropdown-menu__action"><i
                    class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">delete_overall</i> <span>Aus dem
                    Kochbuch löschen</span></a></li>
              <li class="ds-dropdown-menu__item"><a class="ds-dropdown-menu__action"><i
                    class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">list_edit</i> <span>Notiz
                    bearbeiten</span></a></li>
            </ul>
          </div>
          <button class="ds-recipe-card__button ds-is-active ds-dropdown-menu--button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">&nbsp;</div>
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <h4>Dropdown am rechten Rand</h4>
    <div class="ds-recipe-card-wrapper">
      <div class="ds-recipe-card">
        <a class="ds-teaser-link ds-recipe-card__link" href="#"
          title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
          <div class="ds-recipe-card__image ds-teaser-link__image"
            style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
          </div>
          <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
          <div class="ds-recipe-card__meta">
            <div class="ds-recipe-info ds-text-caption">
              <i class="chefkoch-icons ds-recipe-info__icon ds-text-corporate-green-light">time</i>
              <span class="ds-recipe-info__text ds-text-caption">15 Min.</span>
              <i class="chefkoch-icons ds-recipe-info__icon ds-recipe-info__icon--ml ds-text-corporate-green-light">difficulty_level</i>
              <span class="ds-recipe-info__text ds-text-caption">normal</span>
            </div>
          </div>
        </a>
        <div class="ds-recipe-card__action ds-recipe-card__action--right">
          <div class="ds-dropdown-menu ds-is-visible ds-from-s ds-dropdown-menu--right">
            <div class="ds-dropdown-menu--fill ds-dropdown-menu--fill-right"></div>
            <ul class="ds-dropdown-menu__actions ds-dropdown-menu__actions--no-wrap">
              <li class="ds-dropdown-menu__item">
                  <a class="ds-dropdown-menu__action"><i
                    class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">copy</i> <span>Zu einer Sammlung
                    hinzufügen</span></a>
              </li>
              <li class="ds-dropdown-menu__item"><a class="ds-dropdown-menu__action"><i
                    class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">delete_overall</i> <span>Aus dem
                    Kochbuch löschen</span></a></li>
              <li class="ds-dropdown-menu__item"><a class="ds-dropdown-menu__action"><i
                    class="ds-button-icon ds-dropdown-menu__icon chefkoch-icons">list_edit</i> <span>Notiz
                    bearbeiten</span></a></li>
            </ul>
          </div>
          <button class="ds-recipe-card__button ds-is-active ds-dropdown-menu--button ds-btn ds-btn--icon-only">
            <i class="chefkoch-icons">more_horiz</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>