<div class="ndpl-container-main">
    <div class="ds-grid ds-row">
        <div class="ds-box ds-col-12 ds-col-s-6">
            <h4>Tile Action Button (Label + Icon)</h4>
            <button class="ds-btn ds-btn--fluid ds-btn--tile ds-btn--tile-action">
                <span class="ds-btn__label">Sammlung hinzufügen</span>
                <i class="ds-btn__icon ds-btn__icon--trailing chefkoch-icons">add</i>
            </button>
        </div>
    </div>

    <div class="ds-grid ds-row">
        <div class="ds-box ds-col-12 ds-col-s-8 ds-col-m-6">
            <h4>Tile List Button (Icon Only, Listenansicht)</h4>
            <button class="ds-btn ds-btn--fluid ds-btn--tile ds-btn--tile-list">
                <i class="ds-btn__icon chefkoch-icons">add</i>
            </button>
        </div>
    </div>

    <div class="ds-grid ds-row">
        <div class="ds-col-12">
            <h4>Tile Card Button (Icon Only, Kachelansicht)</h4>
        </div>
    </div>

    <div class="ds-grid ds-row">
        <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-6">
            <button class="ds-btn ds-btn--fluid ds-btn--tile ds-btn--tile-card">
                <i class="ds-btn__icon chefkoch-icons">add</i>
            </button>
        </div>
    </div>
</div>