// default unit for everything

$unit: 8px;

/* screen widths */

$screen-xxxs: 320px;
$screen-xxs: 360px;
$screen-xs: 480px;
$screen-s: 600px;
$screen-m: 1196px;

$skyscraper-width: 200px;

// 2/3 of the "desktop" screen equals the maximum content size
$max-content-width: ($screen-m - $skyscraper-width) / 3 * 2 + $unit;
$screen-tablet: 768px;
