$shadowBlurringResting: 2px;
$shadowBlurringLifted: 8px;

@mixin ds-box-shadow($opacityResting, $opacityLifted) {
    box-shadow: 0 0 $shadowBlurringResting 0 rgba($color-shadow-base, $opacityResting);

    &:hover,
    &:focus {
        box-shadow: 0 0 $shadowBlurringLifted 0 rgba($color-shadow-base, $opacityLifted);
    }

    &:active {
        box-shadow: none;
    }
}

@mixin ds-icon-shadow($opacityResting, $opacityLifted) {
    i {
        text-shadow: 0 0 $shadowBlurringResting rgba($color-shadow-base, $opacityResting);
    }

    &:hover,
    &:focus {
        i {
            text-shadow: 0 0 $shadowBlurringLifted rgba($color-shadow-base, $opacityLifted);
        }
    }
}
