<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Primary</h4>
    </div>

    <div class="ds-box ds-col-12">
        <button class="ds-btn ds-btn--primary">
            <span>Button</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Primary Icon Only</h4>
    </div>

    <div class="ds-box ds-col-12">
        <button class="ds-btn ds-btn--primary ds-btn--icon-only">
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>
</div>