<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Primary</h4>

        <button class="ds-btn ds-btn--primary">
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
    <div class="ds-col-6 ds-box">
        <h4>Primary Disabled</h4>

        <button class="ds-btn ds-btn--primary" disabled>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Primary mit Icon</h4>

        <button class="ds-btn ds-btn--primary">
            <i class="ds-btn__icon ds-btn__icon--leading chefkoch-icons">heart</i>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>

    <div class="ds-col-6 ds-box">
        <h4>Primary mit Icon Disabled</h4>

        <button class="ds-btn ds-btn--primary" disabled>
            <i class="ds-btn__icon ds-btn__icon--leading chefkoch-icons">heart</i>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Primary Icon Only</h4>

        <button class="ds-btn ds-btn--primary ds-btn--circle">
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>

    <div class="ds-col-6 ds-box">
        <h4>Primary Icon Only Disabled</h4>

        <button class="ds-btn ds-btn--primary ds-btn--circle" disabled>
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>
</div>