<div class="ndpl-container-main">
  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-m-4 ds-col-s-6 ds-col-xs-12">
      <a class="ds-teaser-link ds-collection-card__link" href="#">
        <div class="ds-collection-card__image-wrap ds-teaser-link__image-wrap">
          <img alt="Hauptsammlung" class="ds-teaser-link__image" srcset="
                https://api.chefkoch.de/v2/images/crop-656x370/recipes/2737891426025016/images/1365577/fit-960x720 1x,
                https://api.chefkoch.de/v2/images/crop-656x370/recipes/2737891426025016/images/1365577/fit-960x720 2x
              "
            src="https://api.chefkoch.de/v2/images/crop-656x370/recipes/2737891426025016/images/1365577/fit-960x720" />
          <div class="ds-collection-card__gradient"></div>
        </div>
        <div class="ds-collection-card__body ds-text-white">
          <h3 class="ds-collection-card__headline ds-text-sans ds-trunc ds-trunc-1">
            Hauptsammlung
          </h3>
          <div class="ds-collection-card__info">
            <span class="ds-collection-card__recipe-count ds-text-white ds-text-caption">12 Rezepte</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>