<h1>Notification Toast:</h1>
<div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3" style="height: 200px">
    <div class="ds-notifications-toast--container">
        <div class="ds-notifications-toast">
            <i class="material-icons">clear</i>
            <div class="ds-notifications-toast--text">
                <p>Das Rezept "<b>Schokokuchen</b>" wurde erfolgreich in die Sammlung <b>Kuchen</b> kopiert.</p>
            </div>
            <button class="ds-btn ds-btn-tertiary">Rückgängig</button>
        </div>
    </div>
</div>
