
<div class="ds-container" style="max-width: 100%;">
    <div class="ds-col-12 ds-col-m-8 ds-grid-float ds-box">

        <h3>Suchwörter AMP-Carousel<small class="ds-h7">Markup nachgebaut</small></h3>

        <div id="this-is-an-amp-carousel" class="ds-tags ds-tags-carousel" type="carousel" layout="fixed-height" height="56" i-amphtml-layout="fixed-height" style="height: 56px;">
            <div class="i-amphtml-scrollable-carousel-container">
                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>

                <div class="amp-carousel-slide amp-scrollable-carousel-slide" style="display: inline-block!important;">
                    <a href="#" class="ds-tag"><span>Bacon Stripes</span></a>
                </div>
            </div>

            <div tabindex="0" class="amp-carousel-button amp-carousel-button-prev" role="button"></div>
            <div tabindex="0" class="amp-carousel-button amp-carousel-button-next" role="button"></div>
        </div>

        <hr class="ds-hr ds-to-s" />
    </div>

    <div class="ds-col-12 ds-col-m-off-8 ds-col-m-4">
        <h3>Suchwörter Liste</h3>

        <ul class="ds-tags ds-list-plain ds-list-cloud">
            <li><a href="#" class="ds-tag">Apfelkuchen</a></li>
            <li><a href="#" class="ds-tag">Auflauf</a></li>
            <li><a href="#" class="ds-tag">Biskuitboden</a></li>
            <li><a href="#" class="ds-tag">Blechkuchen</a></li>
            <li><a href="#" class="ds-tag">Flammkuchen</a></li>
        </ul>
    </div>
</div>

