<div class="ndpl-container-main">
  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>Private Badge</h4>
      <div class="ds-bg-garlic" style="padding: 20px">
        
        <!-- .ds-recipe-badge -->
        <div class="ds-recipe-badge">
          <i class="chefkoch-icons ds-recipe-badge__icon">lock</i>
        </div>
        <!-- /.ds-recipe-badge -->

      </div>
    </div>
  </div>

  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
      <h4>Private Badge in list item</h4>
      <div class="ds-bg-garlic" style="padding: 20px">

        <!-- .ds-recipe-badge -->
        <div class="ds-recipe-badge ds-recipe-badge--list-item">
          <i class="chefkoch-icons ds-recipe-badge__icon">lock</i>
        </div>
        <!-- /.ds-recipe-badge -->

      </div>
    </div>
  </div>
</div>