<div class="ds-grid ds-box">
  <table style="width:100%">
    <thead>
      <tr>
        <th>Spacing</th>
        <th>Variable</th>
        <th>Map</th>
      </tr>
    </thead>
    <tbody>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-0"></span> <small>0px</small></div></td>
        <td> <code>$v-spacing-0</code></td>
        <td><code>map-get($v-spacings, 0)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-1"></span> <small>4px</small></div></td>
        <td> <code>$v-spacing-1</code></td>
        <td><code>map-get($v-spacings, 1)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-2"></span> <small>8px</small></div></td>
        <td> <code>$v-spacing-2</code></td>
        <td><code>map-get($v-spacings, 2)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-4"><small>16px</small></span></div></td>
        <td> <code>$v-spacing-4</code></td>
        <td><code>map-get($v-spacings, 4)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-6"><small>24px</small></span></div></td>
        <td> <code>$v-spacing-6</code></td>
        <td><code>map-get($v-spacings, 6)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-8"><small>32px</small></span></div></td>
        <td> <code>$v-spacing-8</code></td>
        <td><code>map-get($v-spacings, 8)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-12"><small>48px</small></span></div></td>
        <td> <code>$v-spacing-12</code></td>
        <td><code>map-get($v-spacings, 12)</code></td>
      </tr>
      <tr class="ndpl-spacing">
        <td><div class="ndpl-spacing__demo"><span class="ndpl-spacing__block ndpl-spacing__block--v-16"><small>64px</small></span></div></td>
        <td> <code>$v-spacing-16</code></td>
        <td><code>map-get($v-spacings, 16)</code></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
