<div class="ds-grid ds-row">
    <div class="ds-col-4 ds-box">
        <h4>Search</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s">
            <i class="ds-btn__icon chefkoch-icons">search</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Search Active</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s ds-is-active">
            <i class="ds-btn__icon chefkoch-icons">search</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Search Disabled</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s" disabled>
            <i class="ds-btn__icon chefkoch-icons">search</i>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-4 ds-box">
        <h4>Menu</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s">
            <i class="ds-btn__icon chefkoch-icons">menu</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Menu Active</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s ds-is-active">
            <i class="ds-btn__icon chefkoch-icons">close</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Menu Disabled</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s" disabled>
            <i class="ds-btn__icon chefkoch-icons">menu</i>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-4 ds-box">
        <h4>Profil</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s">
            <i class="ds-btn__icon chefkoch-icons">profil</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Profil Active</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s ds-is-active">
            <i class="ds-btn__icon chefkoch-icons">profil</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Profil Disabled</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s" disabled>
            <i class="ds-btn__icon chefkoch-icons">profil</i>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-4 ds-box">
        <h4>Kochbuch</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s">
            <i class="ds-btn__icon chefkoch-icons">bookmark_border</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Kochbuch Active</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s ds-is-active">
            <i class="ds-btn__icon chefkoch-icons">bookmark_border</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Kochbuch Disabled</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s" disabled>
            <i class="ds-btn__icon chefkoch-icons">bookmark_border</i>
        </button>
    </div>
</div>


<div class="ds-grid ds-row">
    <div class="ds-col-4 ds-box">
        <h4>Carousel Slider</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s">
            <i class="ds-btn__icon chefkoch-icons">chevron_left</i>
        </button>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s">
            <i class="ds-btn__icon chefkoch-icons">chevron_right</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Carousel Slider Active</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s ds-is-active">
            <i class="ds-btn__icon chefkoch-icons">chevron_left</i>
        </button>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s  ds-is-active">
            <i class="ds-btn__icon chefkoch-icons">chevron_right</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Carousel Slider Disabled</h4>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s" disabled>
            <i class="ds-btn__icon chefkoch-icons">chevron_left</i>
        </button>

        <button class="ds-btn ds-btn--dual-color ds-btn--round ds-btn--size-s" disabled>
            <i class="ds-btn__icon chefkoch-icons">chevron_right</i>
        </button>
    </div>
</div>