<div class="ds-grid ds-row">
    <div class="ds-col-12">

        <form class="ds-grid ds-row">
            <fieldset class="ds-box ds-col-12">
                <legend>Input type="file" as button primary.</legend>
                <p>It makes use of the fact that pressing a label basically works out as a click event, resulting in opening a file browser. This is great for crafting a semantic solution.</p>
                <label class="ds-btn ds-btn-primary">
                    <input class="ds-input-file" type="file">
                    <span>Bild auswählen</span>
                </label>
            </fieldset>
        </form>

    </div>
</div>
