<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-4">

        <div class="ds-grid ds-row">
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">Header</div>
            <div class="ds-col-xs-8 ds-col-s-8 ds-col-m-8">Main</div>
            <div class="ds-col-xs-4 ds-col-s-4 ds-col-m-4">Aside</div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">Footer</div>
        </div>

    </div>

    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-4">

        <div class="ds-grid ds-row">
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">Header</div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
                <div class="ds-grid ds-row">
                    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">Main</div>
                    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">Aside</div>
                </div>
            </div>
            <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">Footer</div>
        </div>

    </div>
</div>
