<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Button | .ds-btn.ds-btn-icon</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-primary ds-btn-icon ds-btn-icon-l">
                <i class="material-icons">print</i>
                Buttontext
            </button>
            <button class="ds-btn ds-btn-primary ds-btn-icon ds-btn-icon-r">
                Buttontext
                <i class="material-icons">expand_more</i>
            </button>
        </div>

        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-secondary ds-btn-icon ds-btn-icon-l">
                <i class="material-icons">print</i>
                buttontext
            </button>
            <button class="ds-btn ds-btn-secondary ds-btn-icon ds-btn-icon-r">
                buttontext
                <i class="material-icons">expand_more</i>
            </button>
        </div>

        <div class="ds-btn-box">
            <button class="ds-btn ds-btn-tertiary ds-btn-icon ds-btn-icon-l">
                <i class="material-icons">chevron_left</i>
                Zurück
            </button>
            <button class="ds-btn ds-btn-tertiary ds-btn-icon ds-btn-icon-r">
                Mehr
                <i class="material-icons">chevron_right</i>
            </button>
        </div>
    </div>
</div>
