<div class="ds-grid ds-row">
    <div class="ds-col-4 ds-box">
        <h4>Search</h4>

        <button class="ds-icon-btn">
            <i class="ds-icon-btn__icon chefkoch-icons">search</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Search Active</h4>

        <button class="ds-icon-btn ds-is-active">
            <i class="ds-icon-btn__icon chefkoch-icons">search</i>
        </button>
    </div>

    <div class="ds-col-4 ds-box">
        <h4>Search Disabled</h4>

        <button class="ds-icon-btn" disabled>
            <i class="ds-icon-btn__icon chefkoch-icons">search</i>
        </button>
    </div>
</div>
