<div class="ds-grid ds-row">
    <div class="ds-col-12 ds-col-m-8">

        <h3>Aktuelle Community Beiträge</h3>

        <ul class="ds-icon-list">
            <li>
                <a href="#">
                    <i class="material-icons">chat</i>
                    <span>Warum Bacon das Beste ist.</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">chat</i>
                    <span>Wieviel Bacon esst ihr so zum Frühstück?</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">chat</i>
                    <span>Was habt ihr denn alle mit eurem Bacon?</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">chat</i>
                    <span>Wer ist dieser Bacon und warum ist er so beliebt?</span>
                </a>
            </li>
        </ul>

    </div>
</div>

