/*
 * Additional Styling for Astrum to make it all oh so pretty <3
 * Stylelint disabled for lacking of the "ds-" namespace
 */

/* stylelint-disable  */

html {
    min-width: 320px;
}

/* useful helpers
----------------------------------- */

// stripes

@mixin bg-stripes($color) {
    background-image: linear-gradient(135deg, rgba($color, 0.1) 25%, rgba($color, 0.3) 25%, rgba($color, 0.3) 50%, rgba($color, 0.1) 50%, rgba($color, 0.1) 75%, rgba($color, 0.3) 75%, rgba($color, 0.3) 100%);
    background-size: 22.63px 22.63px;
}

.bg-stripes-red {
    @include bg-stripes(#d60101);
}

.bg-stripes-green {
    @include bg-stripes(#4ade62);
}

.bg-stripes-blue {
    @include bg-stripes(#136BDE);
}

// border-radius

.content-box,
#group-images img,
#group-media-block img,
#group-links img,
#group-grid-component-grid-float .ndpl-component__container span,
.ndpl-component__color:first-of-type:last-of-type,
#group-carousel-component-indicators .slides-container img {
    @include ds-border-radius;
}

// content boxes

.content-box-wrapper {
    margin-bottom: $unit * 2
}

.content-box {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    padding: $unit * 2;

    &.margin-box {
        padding: 0;
    }
}

/* Astrum header / nav mobile
----------------------------------- */

.ndpl-header {
    @media only screen and (max-width: 1024px) {
        display: flex;
    }

    @media only screen and (max-width: 599px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 600px) and (max-width: 1024px) {
        flex-direction: row;
    }

    @media only screen and (min-width: 1025px) {
        display: none;
    }
}

.ndpl-header__logo {
    float: none;
    align-self: flex-start;

    @media only screen and (max-width: 599px) {
        margin-bottom: $unit;
    }
}

.ndpl-header__title {
    @media only screen and (max-width: 1024px) {
        display: flex;
        align-items: baseline;

        small {
            margin-left: $unit;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 1024px) {
        margin-left: $unit * 2;
    }
}

.loaded .ndpl-sidebar {
    @media only screen and (min-width: 960px) and (max-width: 1024px) {
        left: -264px;
    }

    @media only screen and (min-width: 1025px) {
        left: 0;
    }

    &.open {
        padding: 0;

        @media only screen and (min-width: 960px) and (max-width: 1024px) {
            left: 0;
            width: 100%;
        }
    }
}

.ndpl-nav-handle {
    @media only screen and (min-width: 960px) and (max-width: 1024px) {
        display: block;
    }

    @media only screen and (min-width: 1025px) {
        display: none;
    }
}

.ndpl-nav {
    @media only screen and (max-width: 599px) {
        padding-top: $unit * 14;
    }

    @media only screen and (min-width: 600px) and (max-width: 1024px) {
        padding-top: $unit * 10;
    }
}

/* Astrum Sidebar / nav desktop
----------------------------------- */

.ndpl-sidebar__header {
    @media only screen and (min-width: 960px) and (max-width: 1024px) {
        display: none;
    }

    @media only screen and (min-width: 1025px) {
        display: block;
    }
}

.ndpl-sidebar__logo {
    max-width: 100%;
}

/* Astrum page wrapper
----------------------------------- */

.ndpl-page {
    width: 100%;
    max-width: 100%;

    small {
        display: inline-block;
    }
}

.ndpl-content {
    @media screen and (max-width: 1024px) {
        padding: 100px 0 0;
    }
}

/* Astrum margins, paddings, borders
----------------------------------- */

.ndpl-library__title, .ndpl-component__title, .ndpl-group__description, .ndpl-component__description {
    @media only screen and (max-width: 1024px) {
        padding: 0 $unit * 1.5;
    }

    @media only screen and (min-width: 1025px) {
        padding: 0;
    }
}

.note-container-example {
    background: #999;
    padding: 20px 0;
}

@media only screen and (max-width: 1024px) {
    .ndpl-component__sample {
        border-radius: 0;
        padding: 36px $unit * 1.5;
    }

    .ndpl-component__sample--disabled-code {
        border-radius: 0;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1024px) {
    .ndpl-component__code-toggle {
        border-radius: 0;
    }

    .ndpl-components {
        .ndpl-component--half:nth-of-type(2n+1) {
            .ndpl-component__title, .ndpl-component__description {
                padding-right: 0;
            }
        }

        .ndpl-component--half:nth-of-type(2n+2) {
            .ndpl-component__title, .ndpl-component__description {
                padding-left: 0;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .ndpl-component__sample {
        border-radius: $unit $unit 0 0;
        padding: 36px;
    }

    .ndpl-component__sample--disabled-code {
        @include ds-border-radius;
    }
}

.ndpl-library {
    padding-top: 0;
}

.ndpl-library__group:not(:first-child) {
    border-top: 1px solid $color-grey-light;
    padding-top: 60px;
}

/* Astrum typography
----------------------------------- */

.ndpl-page, .ndpl-intro, .ndpl-group__description, .ndpl-component__description {
    font-weight: normal;
    line-height: 1.5;
}

.ndpl-page, .ndpl-loading__title, .ndpl-error, .ndpl-info, .ndpl-header, .ndpl-sidebar, .ndpl-intro, .ndpl-library__title, .ndpl-group__description, .ndpl-component__title, .ndpl-component__description, .ndpl-component__label, .ndpl-component__code-toggle, .ndpl-component__color, .ndpl-page, .ndpl-nav__title, .ndpl-sidebar__title {
    font-family: $fontfamily-base;
    color: $color-text;
}

.ndpl-library__title {
    @extend .ds-h1;
}

.ndpl-component__title {
    @extend .ds-h2;
}

.ndpl-group__description,
.ndpl-component__description {
    h3 {
        font-weight: inherit;
        padding-top: $unit * 2;
    }
}

.ndpl-page,
.ndpl-group__description,
.ndpl-component__description {
    p,
    li {
        font-size: $fontsize-base;
    }
}

.ndpl-component__description {
    p:last-child {
        margin-bottom: $unit * 2;
    }
}

/* Astrum Description & Samples - code & pre
----------------------------------- */

.ndpl-page,
.ndpl-group__description,
.ndpl-component__description {
    pre code,
    code {
        background: #f1efec;
        border: 1px solid $color-grey-medium;
        border-radius: $unit / 2;
        color: $color-text;
        font-size: $fontsize-small;
        line-height: $lineheight-small;
    }

    pre code {
        box-sizing: border-box;
        overflow-x: scroll;
        padding: $unit;
        width: 100%;
    }
}

.ndpl-page pre code,
.ndpl-component__description pre code,
.ndpl-component__code .ndpl-code {
    opacity: 1;
}

.ndpl-component__sample {
    code {
        border: 1px solid $color-grey-medium;
        border-radius: $unit / 2;
        color: $color-text;
        display: inline-block;
        font-size: $fontsize-small;
        margin-bottom: $unit;
        padding: $unit;
    }
}

.ndpl-component__container {
    pre {
        margin-top: 0;
        overflow-x: scroll;
    }
}

/* Astrum HTML Code Sample
----------------------------------- */

#group-layout-component-bereich {
    .ndpl-component__container {
        display: none;
    }
}

#group-margins,
#group-colors,
#group-shadows {
    .ndpl-component__code,
    .ndpl-component__code-toggle {
        display: none;
    }
}

#group-margins-component-elemente {
    .ndpl-component__container,
    .ndpl-component__sample-hidden {
        display: none;
    }
}

.ndpl-component__code .ndpl-code {
    display: block;
    max-height: 500px;
    overflow: scroll;
}

/* Astrum Description & Samples - images
----------------------------------- */

.ndpl-group__description,
.ndpl-component__description,
#group-images .ndpl-component__sample {
    img[src*=".svg"] {
        margin-bottom: -2px;
    }
}

/* Astrum Magic Margins
----------------------------------- */

.ndpl-component__container {
    .margin-helper,
    .margin-helper-2,
    .margin-helper-3,
    .padding-helper-3 {
        opacity: 0;
        transition: opacity 0.3s ease 0.15s;
    }

    .margin-helper,
    .margin-helper-2,
    .margin-helper-3 {
        @include bg-stripes(#FFA500);
    }

    .padding-helper {
        @include bg-stripes(#618F30);
    }

    &:hover {
        .padding-helper,
        .margin-helper,
        .margin-helper-2,
        .margin-helper-3 {
            opacity: 1;
        }
    }
}

#group-typography {
    .margin-helper {
        height: $unit * 4;
        margin-top: -($unit * 4);
    }

    .margin-helper-2 {
        height: $unit * 2;
        margin-top: -($unit * 2);
    }

    .margin-helper-3 {
        height: $unit;
        margin-top: -($unit);
    }
}

/* Container hints base
----------------------------------- */

#group-typography,
#group-forms,
#group-links,
#group-buttons,
#group-pagination {
    .ndpl-component__container {
        background: $color-bg-content;
        position: relative;

        @media screen and (min-width: 1025px) {
            @include ds-border-radius;
        }

        &:before {
            color: $color-grey-dark;
            display: block;
            font-size: 12px;
            position: absolute;
            top: 5px;
            right: 6px;
        }
    }

    div[class*="component__sample"] {
        background: transparent;
        z-index: 1;
    }
}

#group-typography,
#group-forms,
#group-links,
#group-pagination {
    .ndpl-component__container {
        &:before {
            transition: opacity 0.3s ease;
            opacity: 1;
        }

        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }
}

// typography

#group-typography {
    .ndpl-component__container {
        &:before {
            content: 'Hover over this container to see the baseline grid and margins.';
        }

        &:hover {
            div[class*="component__sample"] {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

// links

#group-links {
    .ndpl-component__container {
        &:before {
            content: 'Hover over the Links to see them in action.';
        }
    }
}

// buttons

#group-buttons {
    .ndpl-component__container {
        &:before {
            content: 'Hover & click to see interactive states.';
        }
    }
}

/* Grid
----------------------------------- */

#group-grid-component-grid-base {
    .ndpl-component__sample {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

#group-grid-component-grid-base {
    .ds-grid {
        background: $color-bg-content;
        padding-bottom: $unit;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

#group-grid-component-grid-offset {
    [class^="ds-col"] {
        background: $color-bg-content;
    }
}

.ds-box-row {
    background: $color-bg;
    box-sizing: border-box;
    color: $color-text;
    font-size: 10px;
    height: $unit * 2;
    letter-spacing: 0.5px;
    line-height: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#group-grid-component-grid-float {
    .ndpl-component__container {
        img {
            margin-bottom: -2px;
        }

        span {
            background-color: $color-sand;
            display: block;
            padding: $unit;
        }
    }
}

/* Layout
----------------------------------- */

#group-layout {
    .ndpl-component__sample svg {
        max-height: 500px;
    }
}

/* Colours
----------------------------------- */

.ndpl-component__color-container {
    width: 100%;
    margin: 0;
}

.ndpl-component__color {
    @include media-breakpoint-to(m) {
        padding: ($unit * 6) 0;
    }

    &:first-of-type {
        margin-bottom: $unit;
    }
}

#group-colors {
    .ndpl-component__sample {
        code {
            margin-bottom: $unit * 2;
        }

        code + p {
            margin-bottom: $unit;
        }
    }
}

/* Typography
----------------------------------- */

#group-typography {
    .ndpl-component__container {
        &:hover {
            div[class*="component__sample"] {
                h1, h2, h3, h4, h5, p, small, .ds-text-small {
                    background-color: rgba(#d9d5d0, 0.35);
                }
            }
        }
    }

    div[class*="component__sample"] {
        &:before {
            background: url("../app/images/baseline-grid-16px.png") repeat 36px 36px;
            content: '';
            display: block;
            height: 100%;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            transition: opacity 0.3s ease;
            width: 100%;
            z-index: -1;
        }

        h1, h2, h3, h4, h5, p, small, .ds-text-small {
            background-color: transparent;
            transition: background-color 0.3s ease 0.15s;
        }
    }
}

/* Forms
----------------------------------- */

#group-forms {
    .ndpl-component__container {
        &:before {
            content: 'Click into the Fields to see focus states.';
        }
    }

    .ds-show-form-structure {
        outline: 1px solid #bbb;
        padding-top: 24px;
        position: relative;

        &:before {
            content: "foo";
            color: #bbb;
            display: block;
            font-size: 12px;
            position: absolute;
            left: 2px;
            top: -4px;
        }

        legend {
            position: absolute;
            left: 0;
            top: 16px;
        }
    }

    form.ds-show-form-structure  {
        &:before {
            content: "form";
        }
    }

    fieldset.ds-show-form-structure  {
        padding-top: 64px;

        &:before {
            content: "fieldset";
        }
    }

    legend.ds-show-form-structure  {
        font-weight: normal;
        margin: 8px 4px 0;
        padding: 0;
        width: calc(100% - 8px);

        &:before {
            content: "legend";
        }
    }

    .ds-grid.ds-row.ds-show-form-structure  {
        &:before {
            content: "ds-grid ds-row";
        }

        .ds-show-form-structure  {
            &:before {
                content: "ds-col-x-y";
            }

            .ds-show-form-structure {
                margin: 0 4px;
                width: calc(100% - 8px);

                &:before {
                    content: "input";
                }
            }
        }

    }
}

/* Tables
----------------------------------- */

td,
th {
    text-align: left;
    padding: $unit / 2;
}

td {
    border-top: 1px solid $color-grey-light;
}

/* media-block
----------------------------------- */

#group-media-block {
    .ds-mb.dsy-helper-ignore-this-2 {
        @include media-breakpoint-to(xs) {
            @include ds-fd-row;
            @include ds-mb-padding("left", 2);
        }

        @include media-breakpoint-from(s) {
            @include ds-fd-col;
            @include ds-mb-padding("top", 2);
        }
    }
}

/* Text Truncation enhancements
----------------------------------- */

#group-utilities-component-text-truncation-utilities {
    .ndpl-component__sample p {
        max-width: 200px
    }
}

/* Slider example
----------------------------------- */

#group-carousel-component-indicators {
    .slides-container {
        height: auto;
        position: relative;
        max-width: 400px;
    }

    .ds-carousel-indicators {
        position: absolute;
        top: calc(50% - 20px);
    }
}

#group-carousel-component-indicators-amp {
    .ndpl-component__container {
        display: none;
    }
}

/* Recipe Integration
----------------------------------- */

#group-recipe-component-recipe-integration {
    .ds-grid {
        @include media-breakpoint-to(s) {
            margin: 0 auto;
            max-width: 584px;
        }
    }
}

/* Tags
----------------------------------- */

#group-tags-component-tags {
    .ndpl-component__sample {
        @include media-breakpoint-to(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .i-amphtml-scrollable-carousel-container {
        overflow-x: auto!important;
        overflow-y: hidden!important;
        white-space: nowrap!important;
    }

    .amp-carousel-button {
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
    }
}

/* stylelint-enable */
