/* recipe-meta
----------------------------------- */

.ds-recipe-meta {
    display: flex;
    font-weight: 500;
    margin-left: -2px;

    > span {
        @include ds-border-radius;

        background: rgba($color-grey-light, 0.3);
        color: $color-black;
        display: inline-flex;
        align-items: center;
        font-size: $fontsize-tiny;
        height: $unit * 2;
        margin-right: $unit / 2;
        padding: $unit / 2 $unit;
        text-transform: uppercase;

        @include media-breakpoint-from(m) {
            margin-right: $unit;
        }
    }

    i {
        font-size: 16px;
        margin-right: $unit / 2;
    }
}
