// .ds-border-radius comes from layout/layout.scss which is included in dsy-base.scss
@import "../shadows/box-shadow";

@mixin ds-card-shadow {
    border: 1px solid transparent;
    @include ds-box-shadow(0.3, 0.5);

    &:active {
        border-color: $color-grey-light;
    }
}
