@import "settings.card";

.ds-card {
    @include ds-border-radius;
    @include ds-card-shadow;
    padding: $unit;

    @include media-breakpoint-from(xxs) {
        padding: $unit * 1.5;
    }

    @include media-breakpoint-from(s) {
        padding: $unit * 2;
    }
}
