<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Conversion</h4>
    </div>

    <div class="ds-box ds-col-12">
        <button class="ds-btn ds-btn--conversion">
            <span>Button</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Conversion Icon Only</h4>
    </div>

    <div class="ds-box ds-col-12">
        <button class="ds-btn ds-btn--conversion ds-btn--icon-only">
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>
</div>