@import "settings.social-media";

.ds-social-item {
    background: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;

    &.ds-pinterest {
        background: #bd081c;
    }

    &.ds-facebook {
        background: #3b5998;
    }

    &.ds-instagram {
        background: #125688;
    }

    &.ds-twitter {
        background: #1da1f2;
    }

    &.ds-whatsapp {
        background: #25d366;
    }
}
