<div class="ndpl-container-main">
  <div class="ds-grid ds-row">
    <div class="ds-box ds-col-6 ds-col-s-4 ds-col-m-3">
      <div class="ds-text-toggle">
        <i class="ds-text-toggle__icon chefkoch-icons">list_expand</i>
        <p class="ds-text-toggle__text ds-text-caption ds-trunc ds-trunc-3">&bdquo;Tunesiches und israelisches
          Gericht aus Tomaten, Paprika, Zwiebeln und Eiern. Es ist äußerst lecker und im Handumdrehen zubereitet.&rdquo;</p>
      </div>
    </div>
  </div>  
</div>
