@mixin ds-base-link {
    color: $color-corporate-green;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

@mixin ds-copy-link {
    @include ds-base-link;
    text-underline-offset: 4px;
}

.ds-copy-link {
    @include ds-copy-link;
}

/* if the headline is the link */

a.ds-heading-link {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-corporate-green-dark;
        text-decoration: underline;
    }
}

/* if the headline is IN the link */

a {
    &:hover,
    &:focus {
        .ds-heading-link {
            color: $color-corporate-green-dark;
            text-decoration: underline;
        }
    }
}

/* target links e.g. media-block-module as teaser */

@mixin ds-target-link {
    color: inherit;
    text-decoration: none;
}

.ds-target-link {
    @include ds-target-link;
    display: block;
}

a.ds-mb {
    @include ds-target-link;
}
