<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #618F30;">
                <div>#618F30</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green</h3>
            <code>$color-corporate-green</code>
            <small>Fläche (Button), Logo</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #537A29;">
                <div>#537A29</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Dark</h3>
            <code>$color-corporate-green-dark</code>
            <small>Texte (links, Button)</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #403B3B;">
                <div>#403B3B</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Black</h3>
            <code>$color-black</code>
            <p>Text uses:</p>
            <code>$color-text</code>
            <small>Standard Textfarbe</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(157, 157, 157);">
                <div>#9D9D9D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Grey Dark</h3>
            <code>$color-grey-dark</code>
            <small>Für kurzen Text & deaktiviert Status</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(187, 185, 185);">
                <div>#BBB9B9</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Grey Medium</h3>
            <code>$color-grey-medium</code>
            <small>Für Icons und Fläche</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(216, 216, 216);">
                <div class="ndpl-dark-text">#D8D8D8</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Grey Light</h3>
            <code>$color-grey-light</code>
            <small>Linien, Umrandung etc.</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color ndpl-apply-border ndpl-c-border" style="background-color: #F6F5F2;">
                <div class="ndpl-dark-text">#F6F5F2</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Background Sand</h3>
            <code>$color-sand</code>
            <p>Background uses:</p>
            <code>$color-bg</code>
            <small>Body Background Color</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color ndpl-apply-border ndpl-c-border" style="background-color: #FFF;">
                <div class="ndpl-dark-text">#FFF</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Background White</h3>
            <code>$color-white</code>
            <p>Background uses:</p>
            <code>$color-bg-content</code>
            <p>White text uses:</p>
            <code>$color-text-inverted</code>
            <small>Content Background Color</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(191, 83, 141);">
                <div>#BF538D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Action Color</h3>
            <code>$color-purple</code>
            <small>Kennzeichnet Aktionen (nur innerhalb des Profilbereichs)</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(0, 124, 140);">
                <div>#007C8C</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Info Blue</h3>
            <code>$color-blue</code>
            <small>für reine Info-Mitteilungen</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #EBC315;">
                <div>#EBC315</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Info Yellow</h3>
            <code>$color-yellow</code>
            <small>für Sterne und Warnungs-Mitteilungen<br/>(nur für minimalen Einsatz da
                nicht
                barrierefrei, Ratio: 1.7)</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
    <div class="ndpl-component__color-container">
        <div class="ndpl-component__color" style="background-color: rgb(255, 102, 94);">
            <div>#FF665E</div>
        </div>
    </div>
    <div class="cds-color-description">
        <h3>Info Red</h3>
        <code>$color-red</code>
        <small>für Error-Mitteilungen / auch für VideoFlag<br/>(nur für minimalen Einsatz da nicht barrierefrei)</small>
    </div>
</div>
</div>
