<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #3B8047;">
                <div>#3B8047</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Brokkoli</h3>
            <code>$color-corporate-green</code>
            <small>Linkfarbe von einem Textlink, Background von primary Button, Border von seccondary Button, Buttonlabel von seccondary & tertiären Button</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #37713F;">
                <div>#37713F</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Dark Brokkoli</h3>
            <code>$color-corporate-green-dark</code>
            <small>Hervorhebung (background) von einem geklickten Button</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #6CA075;">
                <div>#6CA075</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Medium Brokkoli</h3>
            <code>$color-corporate-green-medium</code>
            <small>Brokkoli 75%: Hoverzustand von Buttons (Textlink vom tertiären Button)</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #A7C6AC;">
                <div class="ndpl-dark-text">#A7C6AC</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Light Brokkoli</h3>
            <code>$color-corporate-green-light</code>
            <small>45% Brokkoli</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #E2ECE3;">
                <div class="ndpl-dark-text">#E2ECE4</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Extra Light Brokkoli</h3>
            <code>$color-corporate-green-xlight</code>
            <small>15% Brokkoli: : Background Hoverzustand vom seccondary Button</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FF6067;">
                <div>#FF6067</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Wassermelone</h3>
            <code>$color-watermelon</code>
            <small>Für Conversion<br/></small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #DE565B;">
                <div>#DE565B</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Wassermelone Dark</h3>
            <code>$color-watermelon-dark</code>
            <small>Aktiver Zustand eines Conversion Buttons während des Clicks</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FF8B90;">
                <div>#FF888D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Wassermelone medium</h3>
            <code>$color-watermelon-medium</code>
            <small>Wassermelone 75%: Hoverzustand eines Conversion Buttons</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FFB7BA;">
                <div class="ndpl-dark-text">#FFB7BA</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Wassermelone light</h3>
            <code>$color-watermelon-light</code>
            <small>45% Wassermelone</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FFE7E8;">
                <div class="ndpl-dark-text">#FFE7E8</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Wassermelone Extra Light</h3>
            <code>$color-watermelon-xlight</code>
            <small>15% Wassermelone</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #212018;">
                <div>#212018</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Olive</h3>
            <code>$color-olive</code>
            <p>Text uses:</p>
            <code>$color-text</code>
            <small>Standard Textfarbe</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #595852;">
                <div>#595852</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Olive medium</h3>
            <code>$color-olive-medium</code>
            <small>Olive 75%</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #9B9A97;">
                <div>#9B9A97</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Olive light</h3>
            <code>$color-olive-light</code>
            <small>45% Olive</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #DEDEDD;">
                <div class="ndpl-dark-text">#DEDEDD</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Olive Extra Light</h3>
            <code>$color-olive-xlight</code>
            <small>15% Olive</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #666660;">
                <div>#666660</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chia</h3>
            <code>$color-chia</code>
            <small>Für kurzen Text & deaktiviert Status</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #8C8C85;">
                <div>#8C8C85</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chia medium</h3>
            <code>$color-chia-medium</code>
            <small>Chia 75%</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #BABAB7;">
                <div>#BABAB7</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chia light</h3>
            <code>$color-chia-light</code>
            <small>45% Chia: Platzhalter in Form Elementen</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #E8E8E7;">
                <div class="ndpl-dark-text">#E8E8E7</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chia Extra Light</h3>
            <code>$color-chia-xlight</code>
            <small>15% Chia</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #A7A7A2;">
                <div>#A7A7A2</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Pfeffer</h3>
            <code>$color-pepper</code>
            <small>Für Icons und Fläche, inaktiver Button/Border Zustand eines Buttons, Linien und Umrandungen etc.</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #BDBDB9;">
                <div>#BDBDB9</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Pfeffer medium</h3>
            <code>$color-pepper-medium</code>
            <small>Pfeffer 75%</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #D7D7D5;">
                <div class="ndpl-dark-text">#D7D7D5</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Pfeffer light</h3>
            <code>$color-pepper-light</code>
            <small>45% Pfeffer</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #F2F2F1;">
                <div class="ndpl-dark-text">#F2F2F1</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Pfeffer Extra Light</h3>
            <code>$color-pepper-xlight</code>
            <small>15% Pfeffer</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FFCD12;">
                <div class="ndpl-dark-text">#FFCD12</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Mirabelle</h3>
            <code>$color-mirabelle</code>
            <small>Für Sterne und Success</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FFDA4D;">
                <div class="ndpl-dark-text">#FFDA4D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Mirabelle medium</h3>
            <code>$color-mirabelle-medium</code>
            <small>Mirabelle 75%</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FFE894;">
                <div class="ndpl-dark-text">#FFE894</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Mirabelle light</h3>
            <code>$color-mirabelle-light</code>
            <small>45% Mirabelle</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FFF8DC;">
                <div>#FFF8DC</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Mirabelle Extra Light</h3>
            <code>$color-mirabelle-xlight</code>
            <small>15% Mirabelle</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #A70000;">
                <div>#A70000</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chili</h3>
            <code>$color-chili</code>
            <small>Warning/Löschen</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #930403;">
                <div>#930403</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chili dark</h3>
            <code>$color-chili-dark</code>
            <small>Aktiver Click Zustand</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #BD4040;">
                <div>#BD4040</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chili medium</h3>
            <code>$color-chili-medium</code>
            <small>Chili 75%: Hoverzustand von Warning/Löschen</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #D78C8C;">
                <div>#D78C8C</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chili light</h3>
            <code>$color-chili-light</code>
            <small>45% Chili</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #F2D9D9;">
                <div class="ndpl-dark-text">#F2D9D9</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Chili Extra Light</h3>
            <code>$color-chili-xlight</code>
            <small>15% Chili</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #F3F4F0;">
                <div>#F3F4F0</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Knoblauch</h3>
            <code>$color-garlic</code>
            <small>Wird noch nicht benutzt</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #F6F7F4;">
                <div>#F6F7F4</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Knoblauch medium</h3>
            <code>$color-garlic-medium</code>
            <small>Knoblauch 75%</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FAFAF8;">
                <div>#FAFAF8</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Knoblauch light</h3>
            <code>$color-garlic-light</code>
            <small>45% Knoblauch</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #FDFDFD;">
                <div>#FDFDFD</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Knoblauch Extra Light</h3>
            <code>$color-garlic-xlight</code>
            <small>15% Knoblauch</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <div class="ndpl-component__color-container">
        <div class="ndpl-component__color ndpl-apply-border ndpl-c-border" style="background-color: #FFF;">
            <div class="ndpl-dark-text">#FFF</div>
        </div>
    </div>
    <div class="cds-color-description">
        <h3>Background White</h3>
        <code>$color-white</code>
        <p>Background uses:</p>
        <code>$color-bg-content</code>
        <p>White text uses:</p>
        <code>$color-text-inverted</code>
        <small>Content Background Color, Dialog Background, Labelfarbe</small>
    </div>
</div>

<div class="ds-col-12 ds-col-s-12 ds-col-m-12">
    <hr class="ds-hr" />
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(191, 83, 141);">
                <div>#BF538D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>DEPRECATED! Action Color</h3>
            <code>$color-purple</code>
            <small>Kennzeichnet Aktionen (nur innerhalb des Profilbereichs)</small>
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(0, 124, 140);">
                <div>#007C8C</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>DEPRECATED! Info Blue</h3>
            <code>$color-blue</code>
            <small>für reine Info-Mitteilungen</small>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-12 ds-col-m-12">
        <hr class="ds-hr" />
    </div>
</div>
