<div class="ds-grid ds-row">

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-mb ds-mb-row ds-card">
            <div class="ds-mb-left" style="width: 33%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/1153541221572701/bilder/1130636/crop-276x276/caprese-bacon-ciabatta-sandwich.jpg" />
            </div>

            <div class="ds-mb-right" style="width: 66%;">
                <p>Bacon Stripes, And Bacon Stripes, And Bacon Stripes, And Bacon Stripes, And Bacon
                    Stripes<br/>AHMAHGAHD!
                </p>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <small>Im Beispiel wurde ein Media-Block Element zu einer Card umgewandelt, indem auf <code>.ds-mb</code> auch <code>.ds-card</code> gesetzt wurde.</small>
    </div>

</div>


