<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Tertiary</h4>

        <button class="ds-btn ds-btn--tertiary">
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
    <div class="ds-col-6 ds-box">
        <h4>Tertiary Disabled</h4>

        <button class="ds-btn ds-btn--tertiary" disabled>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Tertiary mit Icon Leading</h4>

        <button class="ds-btn ds-btn--tertiary">
            <i class="ds-btn__icon ds-btn__icon--leading chefkoch-icons">arrow_left</i>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>

    <div class="ds-col-6 ds-box">
        <h4>Tertiary mit Icon Disabled</h4>

        <button class="ds-btn ds-btn--tertiary" disabled>
            <i class="ds-btn__icon ds-btn__icon--leading chefkoch-icons">arrow_left</i>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
</div>


<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Tertiary mit Icon Trailing</h4>

        <button class="ds-btn ds-btn--tertiary">
            
            <span class="ds-btn__label">Button Label</span>
            <i class="ds-btn__icon ds-btn__icon--trailing chefkoch-icons">arrow_right</i>
        </button>
    </div>

    <div class="ds-col-6 ds-box">
        <h4>Tertiary mit Icon Trailing Disabled</h4>

        <button class="ds-btn ds-btn--tertiary" disabled>
            <span class="ds-btn__label">Button Label</span>
            <i class="ds-btn__icon ds-btn__icon--trailing chefkoch-icons">arrow_right</i>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Tertiary Icon Only</h4>

        <button class="ds-btn ds-btn--tertiary ds-btn--icon-only">
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>

    <div class="ds-col-6 ds-box">
        <h4>Tertiary Icon Only Disabled</h4>

        <button class="ds-btn ds-btn--tertiary ds-btn--icon-only" disabled>
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>
</div>