<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Button | .ds-btn.ds-btn-tertiary</h4>
    </div>

    <div class="ds-col-12">
        <button class="ds-btn ds-btn-tertiary" href="#">
            <span>Mehr</span>
        </button>
    </div>

    <div class="ds-btn-box ds-col-12">
        <button class="ds-btn ds-btn-tertiary" href="#">
            <span>Tertiary</span>
        </button>
        <button class="ds-btn ds-btn-tertiary" href="#">
            <span>Tertiary</span>
        </button>
    </div>

    <div class="ds-btn-box ds-col-12">
        <button class="ds-btn ds-btn-tertiary" href="#">
            <span>Tertiary</span>
        </button>
        <button class="ds-btn ds-btn-primary" href="#">
            <span>Primary</span>
        </button>
    </div>
</div>
