<div class="ds-grid ds-row">
    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-to-s</h4>
            <p>Elemente mit dieser Klasse werden nur bis inkl. Breakpoint s angezeigt und ab Breakpoint m mit
                display: none; ausgeblendet.</p>
            <p class="ds-to-s">Hide and seek..</p>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-from-m</h4>
            <p>Elemente mit dieser Klasse werden erst ab Breakpoint m angezeigt und bis inkl. Breakpoint s mit
                display: none; ausgeblendet.</p>
            <p class="ds-from-m">Hide and seek..</p>
        </div>
    </div>
</div>
