<div class="ds-grid ds-row ds-box">
    <div class="ds-box ds-col-12">
        <h4>To Breakpoint</h4>
    </div>

    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-to-xs</h4>
            <p>Elemente mit dieser Klasse werden nur bis inkl. Breakpoint xs angezeigt.</p>
            <p class="ds-to-xs">Hide and seek <= xs </p>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-to-s</h4>
            <p>Elemente mit dieser Klasse werden nur bis inkl. Breakpoint s angezeigt. </p>
            <p class="ds-to-s">Hide and seek <= s</p>
        </div>
    </div>
    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
        <h4>From Breakpoint</h4>
    </div>

    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-from-xxs</h4>
            <p>Elemente mit dieser Klasse werden erst ab Breakpoint xxs angezeigt.</p>
            <p class="ds-from-xxs">Hide and seek >= xxs</p>
        </div>
    </div>
    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-from-xs</h4>
            <p>Elemente mit dieser Klasse werden erst ab Breakpoint xs angezeigt.</p>
            <p class="ds-from-xs">Hide and seek >= xs</p>
        </div>
    </div>
    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-from-s</h4>
            <p>Elemente mit dieser Klasse werden erst ab Breakpoint s angezeigt.</p>
            <p class="ds-from-s">Hide and seek >= s</p>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-12 ds-col-s-6">
        <div class="content-box">
            <h4>.ds-from-m</h4>
            <p>Elemente mit dieser Klasse werden erst ab Breakpoint m angezeigt.</p>
            <p class="ds-from-m">Hide and seek >= m</p>
        </div>
    </div>
</div>
