<small>Since we need AMP to make this work, you'd rather have a look at the code sample.</small>

<nav class="ds-social-nav">

    <amp-social-share type="system"
                      class="ds-share-item i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined" width="40" height="40"
                      i-amphtml-layout="fixed" hidden=""></amp-social-share>

    <amp-social-share type="whatsapp"
                      class="ds-share-item i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-whatsapp i-amphtml-layout"  width="40" height="40" i-amphtml-layout="fixed" role="button" tabindex="0"></amp-social-share>

    <amp-social-share type="pinterest"
                      class="ds-share-item i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-pinterest i-amphtml-layout"  width="40" height="40" data-param-media="//img.chefkoch-cdn.de/rezepte/3136461467112858/bilder/924891/crop-552x552/chefkoch-rievkooche-burger.jpg" i-amphtml-layout="fixed" role="button" tabindex="0">
    </amp-social-share>

    <amp-social-share type="facebook"
                      class="ds-share-item i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-facebook i-amphtml-layout"  width="40" height="40" data-param-text="Chefkoch Rievkooche-Burger" data-param-app_id="254325784911610" i-amphtml-layout="fixed" role="button" tabindex="0"></amp-social-share>

    <amp-social-share type="twitter"
                      class="ds-share-item i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-twitter i-amphtml-layout"  width="40" height="40" data-param-text="Chefkoch Rievkooche-Burger" i-amphtml-layout="fixed" role="button" tabindex="0"></amp-social-share>

    <amp-social-share type="email"
                      class="ds-share-item i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-email i-amphtml-layout"  width="40" height="40" i-amphtml-layout="fixed" role="button" tabindex="0"></amp-social-share>

</nav>
