<div class="ds-grid ds-row">
  <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4">
    <a class="ds-teaser-link ds-recipe-card__link" href="#"
      title="Tunesiches und israelisches Gericht aus Tomaten, Paprika, Zwiebeln und Eiern">
      <div class="ds-recipe-card__image ds-teaser-link__image"
        style="background-image: url('https://api.chefkoch.de/v2/images/crop-438x546/recipes/2365241375652232/images/1363552/crop-960x720')">
      </div>
      <h4 class="ds-recipe-card__headline ds-teaser-link__headline ds-trunc ds-trunc-3 ds-text-sans">Shakshuka</h4>
    </a>
  </div>
</div>