@mixin ds-box-shadow($opacityResting, $opacityLifted) {
    box-shadow: 0 0 2px 0 rgba($color-shadow-base, $opacityResting);

    &:hover,
    &:focus {
        box-shadow: 0 0 8px 0 rgba($color-shadow-base, $opacityLifted);
    }

    &:active {
        box-shadow: none;
    }
}

@mixin ds-btn-shadow {
    @include ds-box-shadow(0.2, 0.5);
}
