<div class="ds-grid ds-row">
    <div class="ds-col-12 ds-col-s-6">
        <h4>Button Mobil | .ds-btn.ds-btn-add.ds-btn-icon</h4>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <h4>Button Desktop | .ds-btn.ds-btn-primary.ds-btn-icon</h4>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6">
        <h3>Mobile Version</h3>
        <button class="ds-btn ds-btn-add ds-btn-icon">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6">
        <h3>Desktop Version</h3>
        <button class="ds-btn ds-btn-primary ds-btn-icon">
            <i class="material-icons">add</i>
            <span>Just some text</span>
        </button>
        <small>Für die Desktop Version wird der primary Button mit "ds-btn-primary" und "ds-btn-icon" verwendet.</small>
    </div>
</div>