<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h4>Button | .ds-btn.ds-btn-add</h4>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <button class="ds-btn ds-btn-add ds-btn-icon">
            <i class="material-icons">add</i>
        </button>
        <small>mobile version</small>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3">
        <button class="ds-btn ds-btn-add ds-btn-add--desktop ds-btn-icon">
            <i class="material-icons">add</i>
            <span>Just some text</span>
        </button>
        <small>tablet or desktop version</small>
    </div>
</div>