<div class="ds-grid ds-row">
    <div class="ds-box ds-col-12">
        <h3>Nested</h3>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-mb ds-mb-row">

            <div class="ds-mb-left" style="width: 60px;">
                <i class="material-icons" style="font-size: 60px; color: #bbb9b9; margin-top: -4px;">account_circle</i>
            </div>

            <div class="ds-mb-right" style="width: calc(100% - 60px);">
                <h4>Ms. Bacon</h4>
                <p>Bacon dates back to 1500 bce. Romans called bacon 'Petaso'. The word refers to the back of a pig. The first bacon factory opened in 1770. 'Bringing home the bacon' goes back centuries. Bacon helped make explosives during WWII. Hardee's Frisco Burger was a game changer for bacon. The average american consumes 18 pounds of bacon each year. There's a church of bacon. There's also a bacon camp. Modern technology wants to help you wake up and smell bacon. There's a bacon sculpture of Kevin Bacon</p>

                <div class="ds-mb ds-mb-row" style="margin-top: 32px;">
                    <div class="ds-mb-left" style="width: 60px;">
                        <i class="material-icons" style="font-size: 60px; color: #bbb9b9; margin-top: -4px;">account_circle</i>
                    </div>
                    <div class="ds-mb-right" style="width: calc(100% - 60px);">
                        <h4>Mr. Bacon</h4>
                        <p>Marry me!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
