<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">

        <form class="ds-grid ds-row">

            <fieldset class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
                <legend>What do you add to your delicious Bacon Stripes?</legend>

                <div class="ds-grid ds-row">
                    <div class="ds-form-item ds-col-xs-6 ds-col-s-6 ds-col-m-6">
                        <input type="checkbox" id="option-1" name="bacon-stripes" class="ds-cb">
                        <i class="material-icons ds-icon-active">check_box</i>
                        <i class="material-icons ds-icon-inactive">check_box_outline_blank</i>
                        <label for="option-1">More Bacon Stripes</label>
                    </div>

                    <div class="ds-form-item ds-col-xs-6 ds-col-s-6 ds-col-m-6">
                        <input type="checkbox" id="option-2" name="eggs" class="ds-cb" checked="checked">
                        <i class="material-icons ds-icon-active">check_box</i>
                        <i class="material-icons ds-icon-inactive">check_box_outline_blank</i>
                        <label for="option-2">Eggs</label>
                    </div>
                </div>

            </fieldset>

        </form>

    </div>
</div>
