<div class="ds-grid ds-row ds-box">
    <div class="ds-col-12">
        <h4>Rating Stars</h4>
    </div>

    <div class="ds-col-12 ds-col-s-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </div>
        </div>
    </div>

    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</div>

<aside class="ds-grid ds-row ds-box">
    <div class="ds-col-12">
        <h4>Größe der Rating Stars in aside</h4>
    </div>

    <div class="ds-col-12 ds-col-s-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </div>
    </div>

    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</aside>

<div class="ds-grid ds-row ds-box">
    <div class="ds-col-12">
        <h4>Rating Stars mit Anzahl der Bewertungen</h4>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <strong>1337</strong>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <strong>1337</strong>
                <span>Bewertungen</span>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-rating">
            <div class="ds-rating-stars ds-no-rating">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <strong>0</strong>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-rating">
            <div class="ds-rating-stars ds-no-rating">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <strong>0</strong>
                <span>Bewertungen</span>
            </div>
        </div>
    </div>

    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row ds-box">
    <div class="ds-col-12">
        <h4>Rating Stars mit Durchschnitt der Bewertungen</h4>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-avg">
                <span class="ds-sr-only">Durchschnitt:</span>
                <strong>4.5</strong>
            </div>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-rating">
            <div class="ds-rating-stars ds-no-rating">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-avg">
                <span class="ds-sr-only">Durchschnitt:</span>
                <strong>0</strong>
            </div>
        </div>
    </div>

    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <h2>Design Beispiele</h2>
    </div>

    <div class="ds-col-12">
        <h3 class="ds-h7-btm">Durchschnitt und Anzahl in Kombination
            <small class="ds-h7">Verwendung auf RDS</small></h3>
    </div>

    <div class="ds-col-12 ds-box">
        <h4>Mobile</h4>
        <div class="ds-rating ds-btn ds-btn-secondary" style="width: 190px; text-transform: none; padding: 8px;">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-avg">
                <span class="ds-sr-only">Durchschnitt:</span>
                <strong>4.5</strong>
            </div>
            <div class="ds-rating-count" style="margin-left: 0;">
                <strong>1.337</strong>
                <span>Bewertungen</span>
            </div>
        </div>
    </div>

    <div class="ds-col-12">
        <h4>Desktop</h4>
        <div class="ds-rating ds-btn ds-btn-secondary" style="width: auto; text-transform: none; padding: 3px 12px;">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-avg">
                <span class="ds-sr-only">Durchschnitt:</span>
                <strong>4.5</strong>
            </div>
            <div class="ds-rating-count" style="margin-left: 5px;">
                <span>bei</span>
                <strong>1.337</strong>
                <span>Bewertungen</span>
            </div>
        </div>

        <code>
            ⚠️ margin-left für .ds-rating-avg + .ds-rating-count muss im Projekt selbst resetted werden, da es von Art der Anwendung und Breakpoint abhängig ist. Im DSY ist hierfür lediglich der Standard implementiert.<br/>
            In diesem Beispiel ist die margin-left für .ds-rating-count bei Mobile von 8 auf 0px und bei Desktop von 8 auf 5px reduziert.
        </code>
    </div>

    <div class="ds-col-12 ds-box">
        <hr class="ds-hr" />
    </div>
    <div class="ds-col-12 ds-from-m">
        <h3 class="ds-h7-btm">Stars + Anzahl
            <small class="ds-h7">Verwendung auf RSEL (m-view only)</small></h3>
    </div>

    <article class="rsel-item ds-grid-float ds-col-12 ds-from-m" style="max-width: 632px;">
        <a class="ds-mb ds-mb-row ds-card rsel-recipe bi-recipe-item" href="#">
            <figure class="ds-mb-left" style="width: 45%;">
                <img style="border-radius: 8px;" decoding="async" alt="Käse-Lauch-Suppe mit Hackfleisch" srcset="https://img.chefkoch-cdn.de/rezepte/982031203667502/bilder/668426/crop-256x170/kaese-lauch-suppe-mit-hackfleisch.jpg 1x,
                                        https://img.chefkoch-cdn.de/rezepte/982031203667502/bilder/668426/crop-512x340/kaese-lauch-suppe-mit-hackfleisch.jpg 2x,
                                        https://img.chefkoch-cdn.de/rezepte/982031203667502/bilder/668426/crop-768x510/kaese-lauch-suppe-mit-hackfleisch.jpg 3x" src="https://img.chefkoch-cdn.de/rezepte/982031203667502/bilder/668426/crop-256x170/kaese-lauch-suppe-mit-hackfleisch.jpg" class="i-amphtml-fill-content i-amphtml-replaced-content" />
            </figure>

            <div class="ds-mb-right" style="width: 55%;">
                <h2 class="ds-h3 ds-heading-link">Käse-Lauch-Suppe mit Hackfleisch</h2>

                <div class="ds-rating qa-rating">
                    <div class="ds-rating-stars " title="2.148 Bewertungen">
                        <i class="material-icons qa-rating-star"></i>
                        <i class="material-icons qa-rating-star"></i>
                        <i class="material-icons qa-rating-star"></i>
                        <i class="material-icons qa-rating-star"></i>
                        <i class="material-icons qa-rating-star_half"></i>
                    </div>

                    <div class="ds-rating-count">
                        <span class="ds-sr-only">&nbsp;bei</span>
                        <strong class="qa-rating-count">2.148</strong>
                        <span class="ds-sr-only">Bewertungen</span>
                    </div>
                </div>

                <p class="recipe-text ds-trunc ds-trunc-2">Den Ofen auf 175° C Ober-/Unterhitze vorheizen. Die Baguettes in den vorgeheizten Ofen legen und ca. 10 Minuten backen.  Öl in einen großen Topf geben. Das Hackfleisch darin von allen Seiten gut anbraten und mit Salz und Pfeffer würzen. Den Lauch in</p>

                <small class="ds-recipe-meta qa-recipe-meta">
                    <span class="recipe-preptime"><i class="material-icons"></i>15 min.</span>
                    <span class="recipe-difficulty"><i class="material-icons"></i>simpel</span>
                    <span class="recipe-date"><i class="material-icons"></i>23.02.2008</span>
                </small>
            </div>

        </a>
    </article>
</div>
