<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Secondary</h4>

        <button class="ds-btn ds-btn--secondary">
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
    <div class="ds-col-6 ds-box">
        <h4>Secondary Disabled</h4>

        <button class="ds-btn ds-btn--secondary" disabled>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-col-6 ds-box">
        <h4>Secondary mit Icon</h4>

        <button class="ds-btn ds-btn--secondary">
            <i class="ds-btn__icon ds-btn__icon--leading chefkoch-icons">heart</i>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>

    <div class="ds-col-6 ds-box">
        <h4>Secondary mit Icon Disabled</h4>

        <button class="ds-btn ds-btn--secondary" disabled>
            <i class="ds-btn__icon ds-btn__icon--leading chefkoch-icons">heart</i>
            <span class="ds-btn__label">Button Label</span>
        </button>
    </div>
</div>

<div class="ds-grid ds-row">
    <div class="ds-box ds-col-6">
        <h4>Secondary Icon Only</h4>

        <button class="ds-btn ds-btn--secondary ds-btn--circle">
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>

    <div class="ds-box ds-col-6">
        <h4>Secondary Icon Only Disabled</h4>

        <button class="ds-btn ds-btn--secondary ds-btn--circle" disabled>
            <i class="ds-btn__icon chefkoch-icons">heart</span>
        </button>
    </div>
</div>