.ds-notifications-toast--container {
    bottom: 0;
    height: 20px;
    width: 100%;
    left: 0;
    right: 0;

    @media (min-width: 1196px) {
        margin: 0 auto;
    }
}

.ds-notifications-toast {
    background-color: $color-white;
    bottom: 12px;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0 4px 16px 0 rgba(33, 32, 24, 0.15);
    padding: 12px 24px;
    text-align: center;
    width: 343px;
    margin-left: 8px;
    position: relative;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 320px;
    }

    /* stylelint-disable all */
    i.material-icons,
    i.chefkoch-icons {
        font-size: 24px;
        color: $color-chia;
        background-color: $color-white;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 6px;
        margin-top: 6px;

        cursor: pointer;

        &:hover {
            color: $color-chia-medium;
        }
    }
    /* stylelint-enable all */

    &--text {
        margin: 32px 0 0 12px;
    }
}
