.ds-notifications-toast--container {
    bottom: 0;
    height: 20px;
    max-width: 960px;
    width: 100%;
    left: 0;
    right: 0;

    @media (min-width: 1196px) {
        margin: 0 auto;
    }
}

.ds-notifications-toast {
    background-color: $color-white;
    bottom: 12px;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0 4px 16px 0 rgba(33, 32, 24, 0.15);
    padding: 12px 24px;
    text-align: center;
    width: 343px;
    margin-left: 8px;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 320px;
    }

    /* stylelint-disable all */
    i.material-icons {
        font-size: 25px;
        color: $color-chia;
        background-color: $color-white;
        display: flex;
        justify-content: flex-end;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    /* stylelint-enable all */

    &--text {
        margin: 0 0 12px;
    }
}
