<div class="ds-grid ds-row">
  <div class="ds-col-4 ds-box">
      <h4>Action Menu Button</h4>

      <button class="ds-btn ds-btn--round ds-btn--size-s ds-btn--action-menu">
          <i class="ds-btn__icon chefkoch-icons">more_horiz</i>
      </button>
  </div>

  <div class="ds-col-4 ds-box">
      <h4>Action Menu Button Active</h4>

      <button class="ds-btn ds-btn--round ds-btn--size-s ds-btn--action-menu ds-btn--active">
          <i class="ds-btn__icon chefkoch-icons">more_horiz</i>
      </button>
  </div>
</div>