<div class="ds-grid ds-row ds-box">

    <div class="ds-col-12 ds-col-s-6">
        <h3 class="ds-h7-btm">Standardabstand.<span class="ds-h7">Thematisch zusammengehörige Module.</span></h3>

        <div class="ds-box">
            <span class="content-placeholder-box">RDS Modul Tags</span>
            <div class="margin-helper"></div>
        </div>
        <div class="ds-box">
            <span class="content-placeholder-box">RDS Modul Image</span>
            <div class="margin-helper"></div>
        </div>
        <div class="ds-box">
            <span class="content-placeholder-box">RDS Modul Recipe-Meta</span>
        </div>

        <div class="ds-box">
            oder
        </div>

        <div class="ds-box">
            <span class="content-placeholder-box">RSEL Kacheln</span>
            <div class="margin-helper"></div>
        </div>
        <div>
            <span class="content-placeholder-box">RSEL Pagination</span>
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <h3 class="ds-h7-btm">Vergrößerter Abstand.<span class="ds-h7">Bereiche und Thematisch unterschiedliche Module.</span></h3>

        <div class="ds-grid ds-row">
            <div class="ds-col-12 ds-col-s-6">
                <h4>Seitenaufbau</h4>
                <div class="ds-box">
                    <span class="content-placeholder-box">Header
                    <small>Bereich</small></span>
                    <div class="padding-helper"></div>
                    <hr class="ds-hr" />
                    <div class="margin-helper"></div>
                </div>
                <div class="ds-box">
                    <span class="content-placeholder-box">Main
                    <small>Bereich</small></span>
                    <div class="padding-helper"></div>
                    <hr class="ds-hr" />
                    <div class="margin-helper"></div>
                </div>
                <div>
                    <span class="content-placeholder-box">Footer
                    <small>Bereich</small></span>
                </div>
            </div>

            <div class="ds-col-12 ds-col-s-6">
                <h4>Im Bereich Main</h4>
                <div class="ds-box">
                    <span class="content-placeholder-box">RDS Recipe Header
                    <small>Bereich</small></span>
                    <div class="padding-helper"></div>
                    <hr class="ds-hr" />
                    <div class="margin-helper"></div>
                </div>
                <div class="ds-box">
                    <span class="content-placeholder-box">RDS Zutaten
                    <small>Modul</small></span>
                    <div class="padding-helper"></div>
                    <hr class="ds-hr" />
                    <div class="margin-helper"></div>
                </div>
                <div>
                    <span class="content-placeholder-box">RDS Zubereitung
                    <small>Modul</small></span>
                </div>
            </div>
        </div>
    </div>

</div>
