<div class="ds-box">
    <h2><a href="#" class="ds-heading-link">Heading Level 2 Link</a></h2>

    <hr class="ds-hr" />
</div>

<div class="ds-box ds-grid ds-row">
    <h4 class="ds-col-12">
        <img src="./app/images/yes.svg"> Do<br/>
        <span class="ds-h7">a.ds-heading-link in h2</span>
    </h4>

    <div class="ds-col-12 ds-col-s-6">
<small>
<pre>
&lt;h2&gt;
    &lt;a href="#" <strong>class="ds-heading-link"</strong>&gt;
        Headline
    &lt;/a&gt;
&lt;/h2&gt;
</pre>
</small>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <h2>
            <a href="#" class="ds-heading-link">Headline</a>
        </h2>
    </div>

    <hr class="ds-hr" />
</div>

<div class="ds-box ds-grid ds-row">
    <h4 class="ds-col-12">
        <img src="./app/images/yes.svg"> Do<br/>
        <span class="ds-h7">h2 in a.ds-heading-link</span>
    </h4>

    <div class="ds-col-12 ds-col-s-6">

<small>
<pre>
&lt;a href="#" <strong>class="ds-heading-link"</strong>&gt;
    &lt;h2&gt;Headline&lt;/h2&gt;
&lt;/a&gt;
</pre>
</small>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <a href="#" class="ds-heading-link">
            <h2>Headline</h2>
        </a>
    </div>

    <hr class="ds-hr" />
</div>

<div class="ds-box ds-grid ds-row">
    <h4 class="ds-col-12">
        <img src="./app/images/yes.svg"> Do<br/>
        <span class="ds-h7">.ds-heading-link kombiniert mit Media-Block Modul</span>
    </h4>

    <div class="ds-col-12 ds-col-s-6">
        <small>
<pre>
&lt;a href="#" class="ds-mb ds-mb-col"&gt;
    &lt;figure class="ds-mb-left"&gt;
        &lt;img src="#" width="200" /&gt;
    &lt;/figure&gt;
    &lt;div class="ds-mb-right"&gt;
        &lt;h2 <strong>class="ds-heading-link"</strong>&gt;Headline&lt;/h2&gt;
        &lt;p&gt;some text&lt;/p&gt;
    &lt;/div&gt;
&lt;/a>
</pre>
        </small>

        <p><small>Auch wenn ein Media-Block Modul als Teaser verwendet wird, darf die Klasse <code>.ds-heading-link</code> nicht als Wrapper eingesetzt werden, da wir Texte in verlinkten Teasern nicht hovern.</small></p>
        <p><small>Die Texte in einem verlinkten Media-Block Modul werden direkt vom Standard Browser-Link-Styling befreit.</small></p>
        <p><small>Siehe <a href="#group-links-component-target" class="ds-copy-link">Target Links</a></small></p>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <a href="#" class="ds-mb ds-mb-col">
            <figure class="ds-mb-left">
                <img src="https://img.chefkoch-cdn.de/rezepte/1153541221572701/bilder/1130636/crop-600x400/caprese-bacon-ciabatta-sandwich.jpg" width="200" />
            </figure>
            <div class="ds-mb-right">
                <h2 class="ds-heading-link">Headline</h2>
                <p>some text</p>
            </div>
        </a>
    </div>

    <hr class="ds-hr" />
</div>

<div class="ds-box ds-grid ds-row">
    <h4 class="ds-col-12">
        <img src="./app/images/no.svg"> Don't<br/>
        <span class="ds-h7">h2 / Bilder / andere Inhalte in a.ds-heading-link</span>
    </h4>

    <div class="ds-col-12 ds-col-s-6">
        <small>
<pre>
&lt;a href="#" <strong>class="ds-heading-link"</strong>&gt;
    &lt;img src="#" /&gt;
    &lt;h2&gt;Headline&lt;/h2&gt;
    &lt;p&gt;some text&lt;/p&gt;
&lt;/a&gt;
</pre>
        </small>

        <small>Stattdessen das Media-Block Modul als Teaser verwenden und die Klasse entsprechend auf die Headline setzen.</small>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <a href="#" class="ds-heading-link">
            <img src="https://img.chefkoch-cdn.de/rezepte/1153541221572701/bilder/1130636/crop-600x400/caprese-bacon-ciabatta-sandwich.jpg" width="200">
            <h2>Headline</h2>
            <p>some text</p>
        </a>
    </div>

    <hr class="ds-hr" />
</div>

<div class="ds-grid ds-row">
    <h4 class="ds-col-12">
        <img src="./app/images/no.svg"> Don't<br/>
        <span class="ds-h7">.ds-heading-link als wrapper-div</span>
    </h4>

    <div class="ds-col-12 ds-col-s-6">
        <small>
<pre>
<strong>&lt;div class="ds-heading-link"&gt;</strong>
    &lt;a href="#"&gt;
        &lt;h2&gt;Headline&lt;/h2&gt;
        &lt;p&gt;some text&lt;/p&gt;
    &lt;/a&gt;
&lt;/div&gt;
</pre>
        </small>

        <p><small>Wenn die Klasse <code>.ds-heading-link</code> als Wrapper außerhalb des Links verwendet wird, greift kein Styling.</small></p>
    </div>

    <div class="ds-col-12 ds-col-s-6">
        <div class="ds-heading-link">
            <a href="#">
                <h2>Headline</h2>
                <p>some text</p>
            </a>
        </div>
    </div>
</div>




