$stdFormHeight: $unit * 5;

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

legend {
    font-weight: bold;
    margin-bottom: $unit * 2;
}

.ds-form-item {
    display: inline-flex;
    align-items: center;
    width: 100%;

    i {
        margin-right: $unit;
    }

    .ds-icon-inactive {
        color: $color-grey-medium;
    }

    .ds-icon-active {
        color: $color-corporate-green;
    }

    &:hover {
        * {
            cursor: pointer;
        }

        i {
            color: $color-corporate-green-dark;
        }
    }
}

/* input field
-------------------------- */

.ds-input {
    border: 1px solid $color-grey-medium;
    color: $color-black;
    border-radius: $unit;
    box-sizing: border-box;
    font-size: inherit;
    height: $stdFormHeight;
    margin-bottom: $unit * 2;
    padding: $unit $unit * 1.5;
    width: 100%;

    &:focus {
        border-color: $color-corporate-green-dark;
        outline: 0;
    }
}


/* checkboxes / radiobuttons
-------------------------- */

.ds-cb,
.ds-rb {
    margin: 0;
    opacity: 0;
    position: absolute;

    // we don't show the input but we need it to simulate the click on the icon
    zoom: 1.5;

    @supports not (zoom:1.5) {
        height: $unit * 2.5;
        width: $unit * 2.5;
    }

    &:not(:checked) ~ .ds-icon-active,
    &:checked ~ .ds-icon-inactive {
        display: none;
    }
}

.ds-rb {
    + label {
        border-radius: $unit * 2.5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $stdFormHeight;
        width: $unit * 5;

        /*
        &:hover {
            background: $color-corporate-green;
            color: $color-white;
        }
        */
    }

    /*
    &:checked + label {
        background: $color-corporate-green-dark;
        color: $color-white;
    }
    */
}

/* select
-------------------------- */

.ds-select-box {
    position: relative;

    i {
        color: $color-grey-medium;
        pointer-events: none;
        position: absolute;
        right: $unit;
        top: calc(50% - 12px);
    }
}

.ds-select {
    appearance: none;
    background-color: $color-white;
    border: 1px solid $color-grey-medium;
    font-size: inherit;
    height: $stdFormHeight;
    padding: 0 $unit * 4 0 $unit * 2;
}

.ds-input:focus + .ds-select-box {
    .ds-select {
        border-color: $color-corporate-green-dark;
    }
}

/* search form
-------------------------- */

.ds-search-form {
    display: flex;
    height: $stdFormHeight;

    .ds-input {
        border-radius: $unit 0 0 $unit;
        border-right: 0;
        flex-grow: 1;
        height: 100%;
        margin: 0;
        width: auto;
    }

    .ds-select {
        border-radius: 0;
        border-right: 0;
        height: 100%;
    }

    button {
        border-radius: 0 $unit $unit 0;
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 0;
        width: $stdFormHeight;

        i {
            margin: 0;
        }
    }
}

