<!--This is just a wrapper to display the dropdownMenu in the DSY Frontend-->
<h1>Desktop Dropdown-Menu:</h1>
<div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3" style="height: 200px; padding: 0">
    <!--End of wrapper-->
    <div class="ds-dropdown-menu">
        <div class="ds-dropdown-menu--fill">
        </div>
        <ul class="ds-dropdown-menu--actions">
            <li class="ds-dropdown-menu--action">
                <a>Nach Aufwand sortieren</a>
            </li>
            <li class="ds-dropdown-menu--action">
                <a>Nach Wertung sortieren</a>
            </li>
            <li class="ds-dropdown-menu--action">
                <a>Nach Beliebtheit sortieren</a>
            </li>
        </ul>
    </div>
    <button class="ds-btn ds-btn ds-btn-secondary ds-btn-icon ds-btn-secondary--active ds-btn-secondary--soft ds-dropdown-menu--button">
        <i class="material-icons">sort</i>
        <span>Sortieren</span>
    </button>
</div>

<!--This is just a wrapper to display the dropdownMenu in the DSY Frontend-->
<div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-3" style="height: 200px; padding: 0">
    <!--End of wrapper-->
    <div class="ds-dropdown-menu ds-dropdown-menu--right">
        <div class="ds-dropdown-menu--fill ds-dropdown-menu--fill-right">
        </div>
        <ul class="ds-dropdown-menu--actions">
            <li class="ds-dropdown-menu--action">
                <a>Nach Aufwand sortieren</a>
            </li>
            <li class="ds-dropdown-menu--action">
                <a>Nach Wertung sortieren</a>
            </li>
            <li class="ds-dropdown-menu--action">
                <a>Nach Beliebtheit sortieren</a>
            </li>
        </ul>
    </div>
    <button class="ds-btn ds-btn ds-btn-secondary ds-btn-icon ds-btn-secondary--active ds-btn-secondary--soft ds-dropdown-menu--button" style="float: right;">
        <i class="material-icons">sort</i>
        <span>Sortieren</span>
    </button>
</div>
