<div class="ds-grid ds-row">
    <div class="ds-col-12">
        <div class="ds-box">
            <h1>Desktop Dropdown-Menu:</h1>
        </div>
    </div>
    <div class="ds-col-12 ds-col-s-6 ds-col-m-4" style="height: 200px;">
        <h4>Geschlossen</h4>
        <div class="ds-box">
            <!--Dropdown Menu Start-->
            <div class="ds-dropdown-menu ds-is-hidden">
                <div class="ds-dropdown-menu--fill">
                </div>
                <ul class="ds-dropdown-menu__actions">
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Aufwand sortieren</a>
                    </li>
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Wertung sortieren</a>
                    </li>
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Beliebtheit sortieren</a>
                    </li>
                </ul>
            </div>
            <button
                class="ds-btn ds-btn ds-btn-secondary ds-btn-icon ds-btn-secondary--soft ds-dropdown-menu--button">
                <i class="material-icons">sort</i>
                <span>Sortieren</span>
            </button>
            <!--Dropdown Menu End-->
        </div>
    </div>

    <div class="ds-col-12 ds-col-s-6 ds-col-m-4" style="height: 200px;">
        <h4>Standard (links geöffnet)</h4>
        <div class="ds-box">
            <!--Dropdown Menu Start-->
            <div class="ds-dropdown-menu">
                <div class="ds-dropdown-menu--fill">
                </div>
                <ul class="ds-dropdown-menu__actions">
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Aufwand sortieren</a>
                    </li>
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Wertung sortieren</a>
                    </li>
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Beliebtheit sortieren</a>
                    </li>
                </ul>
            </div>
            <button
                class="ds-btn ds-btn ds-btn-secondary ds-btn-icon ds-btn-secondary--active ds-btn-secondary--soft ds-dropdown-menu--button">
                <i class="material-icons">sort</i>
                <span>Sortieren</span>
            </button>
            <!--Dropdown Menu End-->
        </div>
    </div>

    <div class="ds-box ds-col-12 ds-col-s-6 ds-col-m-4" style="height: 200px;">
        <h4>Rechts geöffnet</h4>
        <div class="ds-box">
            <!--Dropdown Menu Start-->
            <div class="ds-dropdown-menu ds-dropdown-menu--right">
                <div class="ds-dropdown-menu--fill ds-dropdown-menu--fill-right">
                </div>
                <ul class="ds-dropdown-menu__actions">
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Aufwand sortieren</a>
                    </li>
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Wertung sortieren</a>
                    </li>
                    <li class="ds-dropdown-menu__item">
                        <a href="#" class="ds-dropdown-menu__action">Nach Beliebtheit sortieren</a>
                    </li>
                </ul>
            </div>
            <button
                class="ds-btn ds-btn ds-btn-secondary ds-btn-icon ds-btn-secondary--active ds-btn-secondary--soft ds-dropdown-menu--button"
                style="float: right;">
                <i class="material-icons">sort</i>
                <span>Sortieren</span>
            </button>
            <!--Dropdown Menu End-->
        </div>
    </div>
</div>