<div class="ds-grid ds-row ds-box">

    <div class="ds-box ds-col-12">
        <h3>Horizontal</h3>

        <div class="ds-mb ds-mb-row">
            <figure class="ds-mb-left" style="width: 33%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/2397571379105119/bilder/1102329/crop-276x276/lachs-von-bacon-umrollt-mit-pikanter-gemuesepfanne-und-feta-kaese.jpg" />
            </figure>

            <div class="ds-mb-right" style="width: 66%;">
                <p>Bacon Stripes<br/>
                And Bacon Stripes, And Bacon Stripes, And Bacon Stripes, And Bacon Stripes</p>
            </div>
        </div>

        <hr class="ds-hr" />
    </div>

    <div class="ds-col-12">
        <h3>Vertikal</h3>

        <div class="ds-mb ds-mb-col">
            <figure class="ds-mb-left">
                <img src="https://img.chefkoch-cdn.de/rezepte/1153541221572701/bilder/1130636/crop-600x400/caprese-bacon-ciabatta-sandwich.jpg" />
            </figure>

            <div class="ds-mb-right">
                <div class=>
                    <p>Bacon Stripes<br/>
                        And Bacon Stripes, And Bacon Stripes, And Bacon Stripes, And Bacon Stripes</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ds-col-12">
        <hr class="ds-hr" />
    </div>
</div>

<div class="ds-grid ds-row">

    <div class="ds-col-12">
        <h3>
            <img src="./app/images/no.svg"> Don't</h3>
        <small>Dieses Modul ist nicht dafür gedacht, Elemente gleicher Art nebeneinander darzustellen.</small>
        <br/>
    </div>

    <div class="ds-box ds-col-12">
        <div class="ds-mb ds-mb-row">
            <div class="ds-mb-left" style="width: 50%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/2397571379105119/bilder/1102329/crop-276x276/lachs-von-bacon-umrollt-mit-pikanter-gemuesepfanne-und-feta-kaese.jpg" />
            </div>

            <div class="ds-mb-right" style="width: 50%;">
                <img src="https://img.chefkoch-cdn.de/rezepte/1153541221572701/bilder/1130636/crop-276x276/caprese-bacon-ciabatta-sandwich.jpg" />
            </div>
        </div>

        <hr class="ds-hr" />
    </div>

    <div class="ds-col-12">
        <div class="ds-mb ds-mb-row">

            <div class="ds-mb-left" style="width: 48%;">
                <p>Bacon Stripes<br/>
                    And Bacon Stripes, And Bacon Stripes, And Bacon Stripes, And Bacon Stripes</p>
            </div>

            <div class="ds-mb-right" style="width: 52%;">
                <p>Bacon Stripes<br/>
                    And Bacon Stripes, And Bacon Stripes, And Bacon Stripes, And Bacon Stripes</p>
            </div>

        </div>
    </div>

</div>
