<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">

        <form class="ds-search-form">
            <input class="ds-input" maxlength="120" type="text" name="suche"
                   placeholder="z. B. Pfannkuchen, Lasagne, Low Carb"
                   autocomplete="off">

            <div class="ds-select-box">
                <select name="wo" class="ds-select">
                    <option value="0">überall</option><option value="4">im Magazin</option>
                    <option value="2" selected="">in Rezepten</option>
                    <option value="10">in Sammlungen</option>
                    <option value="1">in Foren</option>
                    <option value="7">in Gruppen</option>
                    <option value="3">nach Usern</option>
                </select>
                <i class="material-icons">arrow_drop_down</i>
            </div>

            <button class="ds-button ds-button--standard" type="submit"><i class="material-icons">search</i></button>
        </form>

    </div>
</div>
