<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col (Alle Viewports)<span class="ds-h7">Fluides Beispiel</span></h3>
        </div>
    </div>

    <div class="ds-container bg-stripes-blue">
        <div class="ds-grid">
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-6</div>
            </div>
            <div class="ds-col-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col (Alle Viewports)<span class="ds-h7">Beispiel für 320px view</span></h3>
        </div>
    </div>

    <div class="ds-container bg-stripes-blue" style="width: 320px">
        <div class="ds-grid">
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-6</div>
            </div>
            <div class="ds-col-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col-xs (ab Breakpoint xs)<span class="ds-h7">Beispiel für 480px view</span></h3>
        </div>
    </div>

    <div class="ds-container ds-box bg-stripes-blue" style="width: 480px">
        <div class="ds-grid">
            <div class="ds-col-xs-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-4</div>
            </div>
            <div class="ds-col-xs-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-4</div>
            </div>
            <div class="ds-col-xs-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-xs-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-6</div>
            </div>
            <div class="ds-col-xs-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-xs-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col-s (ab Breakpoint s)<span class="ds-h7">Beispiel für 600px view</span></h3>
        </div>
    </div>

    <div class="ds-container ds-box bg-stripes-blue" style="width: 600px">
        <div class="ds-grid">
            <div class="ds-col-s-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-4</div>
            </div>
            <div class="ds-col-s-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-4</div>
            </div>
            <div class="ds-col-s-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-s-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-6</div>
            </div>
            <div class="ds-col-s-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-s-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-container">
    <div class="ds-col-12">
        <h3 class="ds-h7-btm">ds-col-m (ab Breakpoint m)<span class="ds-h7">Beispiel für view ab 960px </span></h3>
    </div>
</div>

<div class="ds-container ds-box bg-stripes-blue" style="width: 960px">
    <div class="ds-grid">
        <div class="ds-col-m-4 bg-stripes-red">
            <div class="ds-box-row">ds-col-m-4</div>
        </div>
        <div class="ds-col-m-4 bg-stripes-red">
            <div class="ds-box-row">ds-col-m-4</div>
        </div>
        <div class="ds-col-m-4 bg-stripes-red">
            <div class="ds-box-row">ds-col-m-4</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-m-6 bg-stripes-red">
            <div class="ds-box-row">ds-col-m-6</div>
        </div>
        <div class="ds-col-m-6 bg-stripes-red">
            <div class="ds-box-row">ds-col-m-6</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-m-12 bg-stripes-red">
            <div class="ds-box-row">ds-col-m-12</div>
        </div>
    </div>
</div>
