<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col <span class="ds-h7">Gilt für alle Viewports</span></h3>
        </div>
    </div>

    <div class="ds-container bg-stripes-blue">
        <div class="ds-grid">
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
            <div class="ds-col-1 bg-stripes-red">
                <div class="ds-box-row">1</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
            <div class="ds-col-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-6</div>
            </div>
            <div class="ds-col-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col-xs <span class="ds-h7">Gilt ab Breakpoint xs</span></h3>
        </div>
    </div>

    <div class="ds-container ds-box bg-stripes-blue">
        <div class="ds-grid">
            <div class="ds-col-xs-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-4</div>
            </div>
            <div class="ds-col-xs-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-4</div>
            </div>
            <div class="ds-col-xs-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-xs-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-6</div>
            </div>
            <div class="ds-col-xs-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-xs-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-xs-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col-s <span class="ds-h7">Gilt ab Breakpoint s</span></h3>
        </div>
    </div>

    <div class="ds-container ds-box bg-stripes-blue">
        <div class="ds-grid">
            <div class="ds-col-s-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-4</div>
            </div>
            <div class="ds-col-s-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-4</div>
            </div>
            <div class="ds-col-s-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-s-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-6</div>
            </div>
            <div class="ds-col-s-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-s-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-s-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>

<div class="ds-box">
    <div class="ds-container">
        <div class="ds-col-12">
            <h3 class="ds-h7-btm">ds-col-m <span class="ds-h7">Gilt ab Breakpoint m</span></h3>
        </div>
    </div>

    <div class="ds-container ds-box bg-stripes-blue">
        <div class="ds-grid">
            <div class="ds-col-m-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-m-4</div>
            </div>
            <div class="ds-col-m-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-m-4</div>
            </div>
            <div class="ds-col-m-4 bg-stripes-red">
                <div class="ds-box-row">ds-col-m-4</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-m-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-m-6</div>
            </div>
            <div class="ds-col-m-6 bg-stripes-red">
                <div class="ds-box-row">ds-col-m-6</div>
            </div>
        </div>
        <div class="ds-grid">
            <div class="ds-col-m-12 bg-stripes-red">
                <div class="ds-box-row">ds-col-m-12</div>
            </div>
        </div>
    </div>

    <div class="ds-container">
        <div class="ds-col-12">
            <hr class="ds-hr" />
        </div>
    </div>
</div>
